run_dhclient="{{ (matrix_dynamic_dns_mode == 'dhcp') | lower }}"
run_ipup="false"
run_daemon="{{ (matrix_dynamic_dns_mode == 'daemon') | lower }}"
daemon_interval="{{ matrix_dynamic_dns_daemon_interval }}"
