protocol={{ matrix_dynamic_dns_protocol }}
use=web
ssl=yes
server={{ matrix_dynamic_dns_provider }}
login='{{ matrix_dynamic_dns_username }}'
password='{{ matrix_dynamic_dns_password }}'
{{ matrix_domain }}
