#jinja2: lstrip_blocks: True

[[advanced.headers]]
source = "/.well-known/matrix/*"
headers.Content-Type = "application/json"
headers.Access-Control-Allow-Origin = "*"
headers.Cache-Control = "max-age={{ matrix_static_files_files_cache_time_hours * 3600 }}"
