[Unit]
Description=Matrix Appservice Discord server
After=docker.service
Requires=docker.service
Requires=matrix-synapse.service
After=matrix-synapse.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-appservice-discord
ExecStartPre=-/usr/bin/docker rm matrix-appservice-discord
ExecStart=/usr/bin/docker run --rm --name matrix-appservice-discord \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			{% if matrix_appservice_discord_container_expose_client_server_api_port %}
			-p 127.0.0.1:9005:9005 \
			{% endif %}
			-v {{ matrix_appservice_discord_base_path }}:/data \
			{{ matrix_appservice_discord_docker_image }}
			
			
ExecStop=-/usr/bin/docker kill matrix-appservice-discord
ExecStop=-/usr/bin/docker rm matrix-appservice-discord
Restart=always
RestartSec=30

 [Install]
WantedBy=multi-user.target
