#jinja2: lstrip_blocks: "True"

port: {{ livekit_server_config_port | int | to_json }}

bind_addresses:
  - "0.0.0.0"

rtc:
  tcp_port: {{ livekit_server_config_rtc_tcp_port | int | to_json }}

  {% if livekit_server_config_rtc_udp_port %}
  udp_port: {{ livekit_server_config_rtc_udp_port | int | to_json }}
  {% endif %}

  {% if livekit_server_config_rtc_port_range_start %}
  port_range_start: {{ livekit_server_config_rtc_port_range_start | int | to_json }}
  {% endif %}

  {% if livekit_server_config_rtc_port_range_end %}
  port_range_end: {{ livekit_server_config_rtc_port_range_end | int | to_json }}
  {% endif %}

  use_external_ip: {{ livekit_server_config_rtc_use_external_ip | to_json }}

turn:
  enabled: {{ livekit_server_config_turn_enabled | to_json }}
{% if livekit_server_config_turn_enabled %}
  domain: {{ livekit_server_config_turn_domain | to_json }}
  cert_file: {{ livekit_server_config_turn_cert_file | to_json }}
  key_file: {{ livekit_server_config_turn_key_file | to_json }}
  tls_port: {{ livekit_server_config_turn_tls_port | int | to_json }}
  udp_port: {{ livekit_server_config_turn_udp_port | int | to_json }}
  external_tls: {{ livekit_server_config_turn_external_tls | to_json }}
{% endif %}

keys: {{ livekit_server_config_keys | to_json }}

logging:
  level: {{ livekit_server_config_logging_level | to_json }}
  pion_level: {{ livekit_server_config_logging_pion_level | to_json }}
  json: {{ livekit_server_config_logging_json | to_json }}
  sample: {{ livekit_server_config_logging_sample | to_json }}
