[Unit]
Description=Matrix Borg Backup timer

[Timer]
Unit=matrix-backup-borg.service
OnCalendar={{ matrix_backup_borg_schedule }}
RandomizedDelaySec={{ matrix_backup_borg_schedule_randomized_delay_sec }}

[Install]
WantedBy=timers.target
