[Unit]
Description=Migrates locally-stored Synapse media store files to S3

[Timer]
Unit=matrix-synapse-s3-storage-provider-migrate.service
OnCalendar=*-*-* 05:00:00

[Install]
WantedBy=timers.target
