[Unit]
Description=Migrates locally-stored Synapse media store files to S3

[Service]
Type=oneshot
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStart={{ matrix_synapse_ext_s3_storage_provider_bin_path }}/migrate
