[Unit]
Description=Migrates locally-stored Synapse media store files to S3

[Timer]
Unit=matrix-synapse-s3-storage-provider-migrate.service
OnCalendar={{ matrix_synapse_ext_synapse_s3_storage_provider_periodic_migration_schedule }}

[Install]
WantedBy=timers.target
