#jinja2: lstrip_blocks: True
[Unit]
Description=Matrix Mautrix Bluesky bridge
{% for service in matrix_mautrix_bluesky_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_mautrix_bluesky_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} matrix-mautrix-bluesky 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm matrix-mautrix-bluesky 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name=matrix-mautrix-bluesky \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_mautrix_bluesky_container_network }} \
			--mount type=bind,src={{ matrix_mautrix_bluesky_config_path }},dst=/config,ro \
			--mount type=bind,src={{ matrix_mautrix_bluesky_data_path }},dst=/data \
			--label-file={{ matrix_mautrix_bluesky_base_path }}/labels \
			{% for arg in matrix_mautrix_bluesky_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_mautrix_bluesky_docker_image }} \
			/usr/bin/mautrix-bluesky -c /config/config.yaml -r /config/registration.yaml --no-update

{% for network in matrix_mautrix_bluesky_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} matrix-mautrix-bluesky
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach matrix-mautrix-bluesky

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} matrix-mautrix-bluesky 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm matrix-mautrix-bluesky 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier=matrix-mautrix-bluesky

[Install]
WantedBy=multi-user.target
