{#
SPDX-FileCopyrightText: 2023 - 2024 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if matrix_dimension_container_labels_traefik_enabled %}
traefik.enable=true

{% if matrix_dimension_container_labels_traefik_docker_network %}
traefik.docker.network={{ matrix_dimension_container_labels_traefik_docker_network }}
{% endif %}

traefik.http.services.matrix-dimension.loadbalancer.server.port=8184

{% set middlewares = [] %}

{% if matrix_dimension_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.matrix-dimension-slashless-redirect.redirectregex.regex=({{ matrix_dimension_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.matrix-dimension-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + ['matrix-dimension-slashless-redirect'] %}
{% endif %}

{% if matrix_dimension_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.matrix-dimension-strip-prefix.stripprefix.prefixes={{ matrix_dimension_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + ['matrix-dimension-strip-prefix'] %}
{% endif %}

{% if matrix_dimension_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in matrix_dimension_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.matrix-dimension-add-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + ['matrix-dimension-add-headers'] %}
{% endif %}

traefik.http.routers.matrix-dimension.rule={{ matrix_dimension_container_labels_traefik_rule }}
{% if matrix_dimension_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.matrix-dimension.priority={{ matrix_dimension_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.matrix-dimension.service=matrix-dimension
{% if middlewares | length > 0 %}
traefik.http.routers.matrix-dimension.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.matrix-dimension.entrypoints={{ matrix_dimension_container_labels_traefik_entrypoints }}
traefik.http.routers.matrix-dimension.tls={{ matrix_dimension_container_labels_traefik_tls | to_json }}
{% if matrix_dimension_container_labels_traefik_tls %}
traefik.http.routers.matrix-dimension.tls.certResolver={{ matrix_dimension_container_labels_traefik_tls_certResolver }}
{% endif %}

{% endif %}

{{ matrix_dimension_container_labels_additional_labels }}
