/inventory/*
!/inventory/.gitkeep
!/inventory/host_vars/.gitkeep
!/inventory/scripts
/roles/*/files/scratchpad
/roles/matrix-synapse/files/workers.upstream-documentation.md
/roles/matrix-synapse/vars/workers.yml
.DS_Store
.python-version
