---
extends: default

# Keep this custom configuration compatible with ansible-lint's `yaml` rule.
# See https://docs.ansible.com/projects/lint/rules/yaml/#yamllint-configuration
rules:
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  line-length: disable
  octal-values:
    forbid-explicit-octal: true
    forbid-implicit-octal: true
