{#
SPDX-FileCopyrightText: 2023 - 2024 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if matrix_corporal_container_labels_traefik_enabled %}
traefik.enable=true

{% if matrix_corporal_container_labels_traefik_docker_network %}
traefik.docker.network={{ matrix_corporal_container_labels_traefik_docker_network }}
{% endif %}

traefik.http.services.matrix-corporal-api.loadbalancer.server.port=41081
traefik.http.services.matrix-corporal-gateway.loadbalancer.server.port=41080

{% if matrix_corporal_container_labels_api_enabled %}
############################################################
#                                                          #
# Corporal API (/_matrix/corporal)                         #
#                                                          #
############################################################

traefik.http.routers.matrix-corporal-api.rule={{ matrix_corporal_container_labels_api_traefik_rule }}

{% if matrix_corporal_container_labels_api_traefik_priority | int > 0 %}
traefik.http.routers.matrix-corporal-api.priority={{ matrix_corporal_container_labels_api_traefik_priority }}
{% endif %}

traefik.http.routers.matrix-corporal-api.service=matrix-corporal-api
traefik.http.routers.matrix-corporal-api.entrypoints={{ matrix_corporal_container_labels_api_traefik_entrypoints }}

traefik.http.routers.matrix-corporal-api.tls={{ matrix_corporal_container_labels_api_traefik_tls | to_json }}
{% if matrix_corporal_container_labels_api_traefik_tls %}
traefik.http.routers.matrix-corporal-api.tls.certResolver={{ matrix_corporal_container_labels_api_traefik_tls_certResolver }}
{% endif %}

############################################################
#                                                          #
# /Corporal API (/_matrix/corporal)                        #
#                                                          #
############################################################
{% endif %}


{% if matrix_corporal_container_labels_matrix_client_api_enabled %}
############################################################
#                                                          #
# Matrix Client-Server API (/_matrix)                      #
#                                                          #
############################################################

traefik.http.routers.matrix-corporal-matrix-client-api.rule={{ matrix_corporal_container_labels_matrix_client_api_traefik_rule }}

{% if matrix_corporal_container_labels_matrix_client_api_traefik_priority | int > 0 %}
traefik.http.routers.matrix-corporal-matrix-client-api.priority={{ matrix_corporal_container_labels_matrix_client_api_traefik_priority }}
{% endif %}

traefik.http.routers.matrix-corporal-matrix-client-api.service=matrix-corporal-gateway
traefik.http.routers.matrix-corporal-matrix-client-api.entrypoints={{ matrix_corporal_container_labels_matrix_client_api_traefik_entrypoints }}

traefik.http.routers.matrix-corporal-matrix-client-api.tls={{ matrix_corporal_container_labels_matrix_client_api_traefik_tls | to_json }}
{% if matrix_corporal_container_labels_matrix_client_api_traefik_tls %}
traefik.http.routers.matrix-corporal-matrix-client-api.tls.certResolver={{ matrix_corporal_container_labels_matrix_client_api_traefik_tls_certResolver }}
{% endif %}

############################################################
#                                                          #
# /Matrix Client-Server API (/_matrix)                     #
#                                                          #
############################################################
{% endif %}


{% endif %}

{{ matrix_corporal_container_labels_additional_labels }}
