{
	"default_hs_url": {{ matrix_riot_web_default_hs_url|to_json }},
	"default_is_url": {{ matrix_riot_web_default_is_url|to_json }},
	"disable_custom_urls": {{ matrix_riot_web_disable_custom_urls|to_json }},
	"disable_guests": {{ matrix_riot_web_disable_guests|to_json }},
	"brand": "Riot",
	"integrations_ui_url": {{ matrix_riot_web_integrations_ui_url|to_json }},
	"integrations_rest_url": {{ matrix_riot_web_integrations_rest_url|to_json }},
	"integrations_widgets_urls": {{ matrix_riot_web_integrations_widgets_urls|to_json }},
	"integrations_jitsi_widget_url": {{ matrix_riot_web_integrations_jitsi_widget_url|to_json }},
	"bug_report_endpoint_url": "https://riot.im/bugreports/submit",
	"enableLabs": true,
	"roomDirectory": {
		"servers": {{ matrix_riot_web_roomdir_servers|to_json }}
	},
	"welcomeUserId": {{ matrix_riot_web_welcome_user_id|to_json }},
	"embeddedPages": {
		"homeUrl": {{ matrix_riot_web_embedded_pages_home_url|to_json }}
	}
}
