#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Maubot
{% for service in matrix_maubot_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_maubot_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-maubot
ExecStartPre=-/usr/bin/docker rm matrix-maubot

# Intentional delay, so that the homeserver (we likely depend on) can manage to start.
ExecStartPre=/bin/sleep 60

ExecStart=/usr/bin/docker run --rm --name matrix-maubot \
			--log-driver=none \
                        -e UID={{ matrix_user_uid }} \
                        -e GID={{ matrix_user_gid }} \
			--network={{ matrix_docker_network }} \
			-v {{ matrix_maubot_host_data_dir }}:{{ matrix_maubot_container_data_dir }}:z \
			-v {{ matrix_maubot_host_config_dir }}:{{ matrix_maubot_container_config_dir }}:z \
			{% for arg in matrix_maubot_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_maubot_docker_image }}

ExecStop=-/usr/bin/docker kill matrix-maubot
ExecStop=-/usr/bin/docker rm matrix-maubot
Restart=always
RestartSec=30
SyslogIdentifier=matrix-maubot

[Install]
WantedBy=multi-user.target
