#jinja2: lstrip_blocks: "True"
{
	"Smtp": {
		"ListenInterface": "0.0.0.0:2525",
		"Hostname": {{ matrix_email2matrix_smtp_hostname|to_json }},
		"Workers": 10
	},
	"Matrix": {
		"Mappings": {{ matrix_email2matrix_matrix_mappings | to_nice_json }}
	},
	"Misc": {
		"Debug": {{ matrix_email2matrix_misc_debug|to_json }}
	}
}
