[Unit]
Description=Renews Let's Encrypt SSL certificates

[Service]
Type=oneshot
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStart={{ matrix_ssl_bin_dir_path }}/lets-encrypt-certificates-renew
