[Unit]
Description=Start Podman Docker link

[Service]
Restart=on-failure
TimeoutStopSec=70
ExecStart={{ matrix_host_command_docker }} system service --time 0
Type=simple

