#jinja2: lstrip_blocks: True

{% if coturn_authentication_method == 'auth-secret' %}
use-auth-secret
static-auth-secret={{ coturn_turn_static_auth_secret }}
userdb=/var/tmp/turnserver.db
{% endif %}

{% if coturn_authentication_method == 'lt-cred-mech' %}
lt-cred-mech
user={{ coturn_lt_cred_mech_username }}:{{ coturn_lt_cred_mech_password }}
{% endif %}

realm={{ coturn_realm }}

min-port={{ coturn_turn_udp_min_port }}
max-port={{ coturn_turn_udp_max_port }}

{% for ip in coturn_turn_external_ip_addresses %}
external-ip={{ ip }}
{% endfor %}

log-file=stdout
pidfile=/var/tmp/turnserver.pid

no-cli

{% if coturn_tls_enabled %}
cert={{ coturn_tls_cert_path }}
pkey={{ coturn_tls_key_path }}
{% if not coturn_tls_v1_enabled %}
no-tlsv1
{% endif %}
{% if not coturn_tls_v1_1_enabled %}
no-tlsv1_1
{% endif %}
{% else %}
no-tls
no-dtls
{% endif %}

prod

{% if coturn_no_tcp_relay_enabled %}
no-tcp-relay
{% endif %}

{% if coturn_no_rfc5780_enabled %}
no-rfc5780
{% endif %}

{% if coturn_no_stun_backward_compatibility_enabled %}
no-stun-backward-compatibility
{% endif %}

{% if coturn_response_origin_only_with_rfc5780_enabled %}
response-origin-only-with-rfc5780
{% endif %}

{% if coturn_user_quota != None %}
user-quota={{ coturn_user_quota }}
{% endif %}
{% if coturn_total_quota != None %}
total-quota={{ coturn_total_quota }}
{% endif %}

{% if coturn_no_multicast_peers_enabled %}
no-multicast-peers
{% endif %}

{% for ip_range in coturn_denied_peer_ips %}
denied-peer-ip={{ ip_range }}
{% endfor %}
{% for ip_range in coturn_allowed_peer_ips %}
allowed-peer-ip={{ ip_range }}
{% endfor %}

{{ coturn_additional_configuration }}
