{#
SPDX-FileCopyrightText: 2026 MDAD project contributors
SPDX-FileCopyrightText: 2026 Jason LaGuidice

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if matrix_bridge_rustpush_container_labels_traefik_enabled %}
traefik.enable=true

{% if matrix_bridge_rustpush_container_labels_traefik_docker_network %}
traefik.docker.network={{ matrix_bridge_rustpush_container_labels_traefik_docker_network }}
{% endif %}

{% endif %}

{{ matrix_bridge_rustpush_container_labels_additional_labels }}
