#jinja2: lstrip_blocks: "True"
#!/bin/bash

{{ matrix_host_command_docker }} run \
	-it \
	--rm \
	--env-file={{ matrix_synapse_ext_s3_storage_provider_path }}/env \
	--mount type=bind,src={{ matrix_synapse_storage_path }},dst=/matrix-media-store-parent,bind-propagation=slave \
	--mount type=bind,src={{ matrix_synapse_ext_s3_storage_provider_path }}/data,dst=/data \
	--workdir=/data \
	--network={{ matrix_docker_network }} \
	--entrypoint=/bin/bash \
	{{ matrix_synapse_docker_image_final }}
