#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix riot-web server
{% for service in matrix_riot_web_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}

[Service]
Type=simple
ExecStartPre=-{{ matrix_host_command_docker }} kill matrix-riot-web
ExecStartPre=-{{ matrix_host_command_docker }} rm matrix-riot-web

ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-riot-web \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--read-only \
			--network={{ matrix_docker_network }} \
			{% if matrix_riot_web_container_http_host_bind_port %}
			-p {{ matrix_riot_web_container_http_host_bind_port }}:8080 \
			{% endif %}
			--tmpfs=/tmp:rw,noexec,nosuid,size=10m \
			-v {{ matrix_riot_web_data_path }}/nginx.conf:/etc/nginx/nginx.conf:ro \
			-v {{ matrix_riot_web_data_path }}/config.json:/app/config.json:ro \
			-v {{ matrix_riot_web_data_path }}/config.json:/app/config.{{ matrix_server_fqn_riot }}.json:ro \
			{% if matrix_riot_web_embedded_pages_home_path is not none %}
			-v {{ matrix_riot_web_data_path }}/home.html:/app/home.html:ro \
			{% endif %}
			-v {{ matrix_riot_web_data_path }}/welcome.html:/app/welcome.html:ro \
			{% for arg in matrix_riot_web_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_riot_web_docker_image }}

ExecStop=-{{ matrix_host_command_docker }} kill matrix-riot-web
ExecStop=-{{ matrix_host_command_docker }} rm matrix-riot-web
Restart=always
RestartSec=30
SyslogIdentifier=matrix-riot-web

[Install]
WantedBy=multi-user.target
