[Unit]
Description=Matrix riot-web server
{% for service in matrix_riot_web_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-riot-web
ExecStartPre=-/usr/bin/docker rm matrix-riot-web
ExecStart=/usr/bin/docker run --rm --name matrix-riot-web \
			--log-driver=none \
			-v {{ matrix_riot_web_data_path }}/config.json:/etc/riot-web/config.json:ro \
			-v {{ matrix_riot_web_data_path }}/home.html:/etc/riot-web/home.html:ro \
			--network={{ matrix_docker_network }} \
			{% if matrix_riot_web_container_expose_port %}
			-p 127.0.0.1:8765:80 \
			{% endif %}
			{{ matrix_riot_web_docker_image }}
ExecStop=-/usr/bin/docker kill matrix-riot-web
ExecStop=-/usr/bin/docker rm matrix-riot-web
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
