{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if matrixto_container_labels_traefik_enabled %}
traefik.enable=true

{% if matrixto_container_labels_traefik_docker_network %}
traefik.docker.network={{ matrixto_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if matrixto_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ matrixto_identifier }}-slashless-redirect.redirectregex.regex=^({{ matrixto_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ matrixto_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [matrixto_identifier + '-slashless-redirect'] %}
{% endif %}

{% if matrixto_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ matrixto_identifier }}-strip-prefix.stripprefix.prefixes={{ matrixto_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [matrixto_identifier + '-strip-prefix'] %}
{% endif %}

{% if matrixto_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in matrixto_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ matrixto_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [matrixto_identifier + '-add-request-headers'] %}
{% endif %}

{% if matrixto_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in matrixto_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ matrixto_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [matrixto_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ matrixto_identifier }}.rule={{ matrixto_container_labels_traefik_rule }}
{% if matrixto_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ matrixto_identifier }}.priority={{ matrixto_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ matrixto_identifier }}.service={{ matrixto_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ matrixto_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ matrixto_identifier }}.entrypoints={{ matrixto_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ matrixto_identifier }}.tls={{ matrixto_container_labels_traefik_tls | to_json }}
{% if matrixto_container_labels_traefik_tls %}
traefik.http.routers.{{ matrixto_identifier }}.tls.certResolver={{ matrixto_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ matrixto_identifier }}.loadbalancer.server.port={{ matrixto_container_http_port }}
{% endif %}

{{ matrixto_container_labels_additional_labels }}
