Component {{ matrix_jitsi_xmpp_internal_muc_domain|string|to_json }} "muc"
    modules_enabled = {
      "ping";
    }
    storage = "memory"
    muc_room_cache_size = 1000

VirtualHost {{ matrix_jitsi_recorder_domain|string|to_json }}
    modules_enabled = {
      "ping";
    }
    authentication = "internal_plain"
