{
  "name": "Access Export",
  "description": "Access the services export.",
  "spec": [
    {
      "question_name": "SFTP Authorisation Method",
      "question_description": "Set whether you want to disable SFTP, use a password to connect to SFTP or connect with a more secure SSH key.",
      "required": true,
      "min": null,
      "max": null,
      "default": "{{ sftp_auth_method | string }}",
      "choices": "Disabled\nPassword\nSSH Key",
      "new_question": true,
      "variable": "sftp_auth_method",
      "type": "multiplechoice"
    },
    {
      "question_name": "SFTP Password",
      "question_description": "Sets the password of the 'sftp' account, which allows you to upload a multi-file static website by SFTP, as well as export the latest copy of your Matrix service. Must be defined if 'Password' method is selected. WARNING: You must set a strong and unique password here.",
      "required": false,
      "min": 0,
      "max": 64,
      "default": "{{ sftp_password }}",
      "choices": "",
      "new_question": true,
      "variable": "sftp_password",
      "type": "password"
    },
    {
      "question_name": "SFTP Public SSH Key (More Secure)",
      "question_description": "Sets the public SSH key used to access the 'sftp' account, which allows you to upload a multi-file static website by SFTP, as well as export the latest copy of your Matrix service. Must be defined if 'SSH Key' method is selected.",
      "required": false,
      "min": 0,
      "max": 16384,
      "default": "{{ sftp_public_key }}",
      "choices": "",
      "new_question": true,
      "variable": "sftp_public_key",
      "type": "text"
    }
  ]
}
