{
  "name": "Backup Server",
  "description": "Performs a backup of the entire service to a remote location.",
  "spec": [
    {
      "question_name": "Enable Backup",
      "question_description": "Set if remote backup is enabled or not. If enabled a daily backup of your server will be sent to the backup server located in {{ backup_server_location }}.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_awx_backup_enabled | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_awx_backup_enabled",
      "type": "multiplechoice"
    }
  ]
}

