{
  "name": "Bridge Discord Appservice",
  "description": "Enables a private bridge you can use to connect Matrix rooms to Discord.",
  "spec": [
    {
      "question_name": "Enable Discord AppService Bridge",
      "question_description": "Enables a private bridge you can use to connect Matrix rooms to Discord.",
      "required": true,
      "min": null,
      "max": null,
      "default": "{{ matrix_appservice_discord_enabled | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_appservice_discord_enabled",
      "type": "multiplechoice"
    },
    {
      "question_name": "Discord OAuth2 Client ID",
      "question_description": "The OAuth2 'CLIENT ID' which can be found in the 'OAuth2' tab of your new discord application: https://discord.com/developers/applications",
      "required": true,
      "min": 0,
      "max": 128,
      "default": "{{ matrix_appservice_discord_client_id | trim }}",
      "choices": "",
      "new_question": true,
      "variable": "matrix_appservice_discord_client_id",
      "type": "text"
    },
    {
      "question_name": "Discord Bot Token",
      "question_description": "The Bot 'TOKEN' which can be found in the 'Bot' tab of your new discord application: https://discord.com/developers/applications",
      "required": true,
      "min": 0,
      "max": 256,
      "default": "{{ matrix_appservice_discord_bot_token | trim }}",
      "choices": "",
      "new_question": true,
      "variable": "matrix_appservice_discord_bot_token",
      "type": "password"
    },
    {
      "question_name": "Auto-Admin Matrix User",
      "question_description": "The username you would like to be automatically joined and promoted to administrator (PL100) in bridged rooms. Exclude the '@' and server name postfix. So to create @stevo:example.org just enter 'stevo'.",
      "required": false,
      "min": 0,
      "max": 1024,
      "default": "",
      "choices": "",
      "new_question": true,
      "variable": "awx_appservice_discord_admin_user",
      "type": "text"
    },
    {
      "question_name": "Auto-Admin Rooms",
      "question_description": "A list of rooms you want the user to be automatically joined and promoted to administrator (PL100) in. These should be the internal IDs (for example '!axfBUsKhfAjSMBdjKX:example.org') separated by newlines.",
      "required": false,
      "min": 0,
      "max": 4096,
      "default": "",
      "choices": "",
      "new_question": true,
      "variable": "awx_appservice_discord_admin_rooms",
      "type": "textarea"
    }
  ]
}
