{
  "name": "Configure Element",
  "description": "Configure Element web client, Element is the most developed Matrix client software.",
  "spec": [
    {
      "question_name": "Enable Element-Web",
      "question_description": "Set if Element web client is enabled or not.",
      "required": true,
      "min": null,
      "max": null,
      "default": "{{ matrix_client_element_enabled }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_client_element_enabled",
      "type": "multiplechoice"
    },
    {
      "question_name": "Set Theme for Web Client",
      "question_description": "Sets the default theme for the web client, can be changed later by individual users.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_client_element_default_theme }}",
      "choices": "light\ndark",
      "new_question": true,
      "variable": "matrix_client_element_default_theme",
      "type": "multiplechoice"
    },
    {
      "question_name": "Set Branding for Web Client",
      "question_description": "Sets the 'branding' seen in the tab and on the welcome page to a custom value.Leaving this field blank will cause the default branding will be used: 'Element'",
      "required": false,
      "min": 0,
      "max": 256,
      "default": "{{ matrix_client_element_brand | trim }}",
      "choices": "",
      "new_question": true,
      "variable": "matrix_client_element_brand",
      "type": "text"
    },
    {
      "question_name": "Set Welcome Page Background",
      "question_description": "Sets the background image on the welcome page, you should enter a URL to the image you want to use. Must be a 'https' link, otherwise it won't be set. Leaving this field blank will cause the default background to be used.",
      "required": false,
      "min": 0,
      "max": 1024,
      "default": "{{ matrix_client_element_branding_welcomeBackgroundUrl | trim }}",
      "choices": "",
      "new_question": true,
      "variable": "matrix_client_element_branding_welcomeBackgroundUrl",
      "type": "text"
    },
    {
      "question_name": "Set Welcome Page Logo",
      "question_description": "Sets the logo found on the welcome and login page, must be a valid https link to your logo, the logo itself should be a square vector image (SVG). Leaving this field blank will cause the default Element logo to be used.",
      "required": false,
      "min": 0,
      "max": 1024,
      "default": "{{ matrix_client_element_welcome_logo | trim }}",
      "choices": "",
      "new_question": true,
      "variable": "matrix_client_element_welcome_logo",
      "type": "text"
    },
    {
      "question_name": "Set Welcome Page Logo URL",
      "question_description": "Sets the URL link the welcome page logo leads to, must be a valid https link. Leaving this field blank will cause this default link to be used: 'https://element.io'",
      "required": false,
      "min": 0,
      "max": 1024,
      "default": "{{ matrix_client_element_welcome_logo_link | trim }}",
      "choices": "",
      "new_question": true,
      "variable": "matrix_client_element_welcome_logo_link",
      "type": "text"
    },
    {
      "question_name": "Set Welcome Page Headline",
      "question_description": "Sets the headline seen on the welcome page. Leaving this field blank will cause this default headline to be used: 'Welcome to Element!'",
      "required": false,
      "min": 0,
      "max": 512,
      "default": "{{ awx_matrix_client_element_welcome_headline | trim }}",
      "choices": "",
      "new_question": true,
      "variable": "awx_matrix_client_element_welcome_headline",
      "type": "text"
    },
    {
      "question_name": "Set Welcome Page Text",
      "question_description": "Sets the text seen on the welcome page. Leaving this field blank will cause this default headline to be used: 'Decentralised, encrypted chat & collaboration powered by [Matrix]'",
      "required": false,
      "min": 0,
      "max": 2048,
      "default": "{{ awx_matrix_client_element_welcome_text | trim }}",
      "choices": "",
      "new_question": true,
      "variable": "awx_matrix_client_element_welcome_text",
      "type": "text"
    },
    {
      "question_name": "Show Registration Button",
      "question_description": "If you show the registration button on the welcome page.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_client_element_registration_enabled }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_client_element_registration_enabled",
      "type": "multiplechoice"
    }
  ]
}
