{
  "name": "Configure Email Relay",
  "description": "Enable MailGun relay to increase verification email reliability.",
  "spec": [
    {
      "question_name": "Enable Email Relay",
      "question_description": "Enables the MailGun email relay server, enabling this will increase the reliability of your email verification.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_mailer_relay_use | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_mailer_relay_use",
      "type": "multiplechoice"
    }
  ]
}

