{
  "name": "Configure Element Subdomain",
  "description": "Configure Element clients subdomain location. (Eg: 'element' for element.example.org)",
  "spec": [
    {
      "question_name": "Set Element Subdomain",
      "question_description": "Sets the subdomain of the Element web-client, you should only specify the subdomain, not the base domain you've already set. (Eg: 'element' for element.example.org) Note that if you change this value you'll need to reconfigure your DNS.",
      "required": false,
      "min": 0,
      "max": 2048,
      "default": "{{ awx_element_subdomain }}",
      "choices": "",
      "new_question": true,
      "variable": "awx_element_subdomain",
      "type": "text"
    }
  ]
}
