{
  "name": "Configure Jitsi",
  "description": "Configure Jitsi conferencing settings.",
  "spec": [
    {
      "question_name": "Enable Jitsi",
      "question_description": "Set if Jitsi is enabled or not. If disabled your server will use the https://jitsi.riot.im server. If you're on a smaller server disabling this might increase the performance of your Matrix service.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_jitsi_enabled }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_jitsi_enabled",
      "type": "multiplechoice"
    },
    {
      "question_name": "Set Default Language",
      "question_description": "2 digit 639-1 language code to adjust the language of the web client. For a list of possible codes see: https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes",
      "required": false,
      "min": 0,
      "max": 2,
      "default": "{{ matrix_jitsi_web_config_defaultLanguage }}",
      "choices": "",
      "new_question": true,
      "variable": "matrix_jitsi_web_config_defaultLanguage",
      "type": "text"
    }
  ]
}

