{
  "name": "Configure Element",
  "description": "Configure Element web client, Element is the most developed Matrix client software.",
  "spec": [
    {
      "question_name": "Enable Element-Web",
      "question_description": "Set if Element web client is enabled or not.",
      "required": true,
      "min": null,
      "max": null,
      "default": "{{ matrix_client_element_enabled }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_client_element_enabled",
      "type": "multiplechoice"
    },
    {
      "question_name": "Set Branding for Web Client",
      "question_description": "Sets the 'branding' seen in the tab and on the welcome page to a custom value.",
      "required": false,
      "min": 0,
      "max": 256,
      "default": "{{ matrix_client_element_brand }}",
      "choices": "",
      "new_question": true,
      "variable": "matrix_client_element_brand",
      "type": "text"
    },
    {
      "question_name": "Set Theme for Web Client",
      "question_description": "Sets the default theme for the web client, can be changed later by individual users.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_client_element_default_theme }}",
      "choices": "light\ndark",
      "new_question": true,
      "variable": "matrix_client_element_default_theme",
      "type": "multiplechoice"
    },
    {
      "question_name": "Set Welcome Page Background",
      "question_description": "URL to Wallpaper, shown in background of the welcome page. Must be a 'https' link, otherwise it won't be set.",
      "required": false,
      "min": 0,
      "max": 1024,
      "default": "{{ matrix_client_element_branding_welcomeBackgroundUrl }}",
      "choices": "",
      "new_question": true,
      "variable": "matrix_client_element_branding_welcomeBackgroundUrl",
      "type": "text"
    },
    {
      "question_name": "Show Registration Button",
      "question_description": "If you show the registration button on the welcome page.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_client_element_registration_enabled }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_client_element_registration_enabled",
      "type": "multiplechoice"
    },
    {
      "question_name": "Set Element Subdomain",
      "question_description": "Sets the subdomain of the Element web-client, you should only specify the subdomain, not the base domain you've already set. (Eg: 'element' for element.example.org) Note that if you change this value you'll need to reconfigure your DNS.",
      "required": false,
      "min": 0,
      "max": 2048,
      "default": "{{ element_subdomain }}",
      "choices": "",
      "new_question": true,
      "variable": "element_subdomain",
      "type": "text"
    }
  ]
}
