{
  "name": "Configure Mjolnir",
  "description": "Configure Mjolnir settings, Mjolnir is a moderation bot for Matrix.",
  "spec": [
    {
      "question_name": "Enable Mjolnir",
      "question_description": "Set if Mjolnir is enabled or not. Mjolnir is a moderation bot for Matrix.",
      "required": true,
      "min": null,
      "max": null,
      "default": "{{ matrix_bot_mjolnir_enabled | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_bot_mjolnir_enabled",
      "type": "multiplechoice"
    },
    {
      "question_name": "Mjolnir Management Room",
      "question_description": "Sets the internal ID of the management room for Mjolnir. Example: '!wAeZaPCKvaCHcSqxAW:matrix.org'",
      "required": true,
      "min": null,
      "max": null,
      "default": "{{ matrix_bot_mjolnir_management_room }}",
      "new_question": true,
      "variable": "matrix_bot_mjolnir_management_room",
      "type": "text"
    }
  ]
}