{
  "name": "",
  "description": "",
  "spec": [
    {
      "question_name": "Enable ma1sd",
      "question_description": "Set if ma1sd is enabled or not. If disabled your server will loose identity functionality (not recommended).",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_ma1sd_enabled | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_ma1sd_enabled",
      "type": "multiplechoice"
    },
    {
      "question_name": "ma1sd Authentication Mode",
      "question_description": "Set the source of user account authentication credentials with the ma1sd.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ ext_matrix_ma1sd_auth_store }}",
      "choices": "Synapse Internal\nLDAP/AD",
      "new_question": true,
      "variable": "ext_matrix_ma1sd_auth_store",
      "type": "multiplechoice"
    },
    {
      "question_name": "LDAP/AD Configuration",
      "question_description": "Settings for connecting LDAP/AD to the ma1sd service. (ignored if using Synapse Internal, see https://github.com/ma1uta/ma1sd/blob/master/docs/stores/README.md )",
      "required": false,
      "min": 0,
      "max": 65536,
      "default": {{ ext_matrix_ma1sd_configuration_extension_yaml | to_json }},
      "new_question": true,
      "variable": "ext_matrix_ma1sd_configuration_extension_yaml",
      "type": "textarea"
    }
  ]
}
