{
  "name": "Configure Synapse Admin",
  "description": "Configure 'Synapse Admin', a moderation tool to help you manage your server.",
  "spec": [
    {
      "question_name": "Enable Synapse Admin",
      "question_description": "Set if Synapse Admin is enabled or not. If enabled you can access it at https://{{ matrix_server_fqn_matrix }}/synapse-admin.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_synapse_admin_enabled | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_synapse_admin_enabled",
      "type": "multiplechoice"
    }
  ]
}
