{
  "name": "Configure Website Access Backup",
  "description": "Configure base domain website settings and access the services backup.",
  "spec": [
    {
      "question_name": "Customise Base Domain Website",
      "question_description": "Set if you want to adjust the base domain website using SFTP.",
      "required": true,
      "min": null,
      "max": null,
      "default": "{{ customise_base_domain_website|string|lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "customise_base_domain_website",
      "type": "multiplechoice"
    },
    {
      "question_name": "SFTP Password",
      "question_description": "Sets the password of the 'sftp' account, which allows you to upload a multi-file static website by SFTP, as well as download the latest copy of your services backup. If empty the password won't be updated. WARNING: You must set a strong and unique password here.",
      "required": false,
      "min": 0,
      "max": 64,
      "default": "{{ sftp_password }}",
      "choices": "",
      "new_question": true,
      "variable": "sftp_password",
      "type": "password"
    }
  ]
}
