{#
SPDX-FileCopyrightText: 2024 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if matrix_mx_puppet_twitter_container_labels_traefik_enabled %}
traefik.enable=true

{% if matrix_mx_puppet_twitter_container_labels_traefik_docker_network %}
traefik.docker.network={{ matrix_mx_puppet_twitter_container_labels_traefik_docker_network }}
{% endif %}

traefik.http.services.martix-mx-puppet-twitter.loadbalancer.server.port={{ matrix_mx_puppet_twitter_appservice_port }}

{% if matrix_mx_puppet_twitter_container_labels_public_endpoint_enabled %}
############################################################
#                                                          #
# Public                                                   #
#                                                          #
############################################################

traefik.http.routers.matrix-mx-puppet-twitter-public.rule={{ matrix_mx_puppet_twitter_container_labels_public_endpoint_traefik_rule }}

{% if matrix_mx_puppet_twitter_container_labels_public_endpoint_traefik_priority | int > 0 %}
traefik.http.routers.matrix-mx-puppet-twitter-public.priority={{ matrix_mx_puppet_twitter_container_labels_public_endpoint_traefik_priority }}
{% endif %}

traefik.http.routers.matrix-mx-puppet-twitter-public.service=martix-mx-puppet-twitter
traefik.http.routers.matrix-mx-puppet-twitter-public.entrypoints={{ matrix_mx_puppet_twitter_container_labels_public_endpoint_traefik_entrypoints }}

traefik.http.routers.matrix-mx-puppet-twitter-public.tls={{ matrix_mx_puppet_twitter_container_labels_public_endpoint_traefik_tls | to_json }}
{% if matrix_mx_puppet_twitter_container_labels_public_endpoint_traefik_tls %}
traefik.http.routers.matrix-mx-puppet-twitter-public.tls.certResolver={{ matrix_mx_puppet_twitter_container_labels_public_endpoint_traefik_tls_certResolver }}
{% endif %}

############################################################
#                                                          #
# /Public                                                  #
#                                                          #
############################################################
{% endif %}


{% endif %}

{{ matrix_mx_puppet_twitter_container_labels_additional_labels }}
