#jinja2: lstrip_blocks: True
id: matrix-hookshot # This can be anything, but must be unique within your homeserver
as_token: {{ matrix_hookshot_appservice_token|to_json }} # This again can be a random string
hs_token: {{ matrix_hookshot_homeserver_token|to_json }} # ..as can this
namespaces:
  rooms: []
  users:
{% if matrix_hookshot_github_enabled %}
    - regex: "@_github_.*:{{ matrix_domain }}"
      exclusive: true
{% endif %}
{% if matrix_hookshot_gitlab_enabled %}
    - regex: "@_gitlab_.*:{{ matrix_domain }}" # Where foobar is your homeserver's domain
      exclusive: true
{% endif %}
{% if matrix_hookshot_jira_enabled %}
    - regex: "@_jira_.*:{{ matrix_domain }}" # Where foobar is your homeserver's domain
      exclusive: true
{% endif %}
{% if matrix_hookshot_generic_enabled %}
    - regex: "@{{ matrix_hookshot_generic_userIdPrefix }}.*:{{ matrix_domain }}" # Where foobar is your homeserver's domain // depending on userIdPrefix setting in conf
      exclusive: true
{% endif %}
  aliases:
    - regex: "#github_.+:{{ matrix_domain }}"
      exclusive: true

sender_localpart: {{ matrix_hookshot_bot_localpart | to_json }}
url: "http://{{ matrix_hookshot_container_url }}:{{ matrix_hookshot_appservice_port }}" # This should match the bridge.port in your config file
rate_limited: false

{% if matrix_hookshot_encryption_enabled %}
de.sorunome.msc2409.push_ephemeral: true
push_ephemeral: true
receive_ephemeral: true
org.matrix.msc3202: true
{% endif %}
