#!/bin/bash

docker run \
	-it \
	--rm \
	--env-file={{ matrix_environment_variables_data_path }}/env-postgres-pgsql-docker \
	--link=matrix-postgres:postgres \
	{{ docker_postgres_image }} \
	psql -h postgres
