[Unit]
Description=Matrix mxisd identity server
After=docker.service
Requires=docker.service
{% if not matrix_postgres_use_external %}
Requires=matrix-postgres.service
After=matrix-postgres.service
{% endif %}

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-mxisd
ExecStartPre=-/usr/bin/docker rm matrix-mxisd
ExecStart=/usr/bin/docker run --rm --name matrix-mxisd \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--network={{ matrix_docker_network }} \
			{% if not matrix_nginx_proxy_enabled %}
			-p 127.0.0.1:8090:8090 \
			{% endif %}
			-v {{ matrix_mxisd_config_path }}:/etc/mxisd:ro \
			-v {{ matrix_mxisd_data_path }}:/var/mxisd \
			{{ matrix_docker_image_mxisd }}
ExecStop=-/usr/bin/docker kill matrix-mxisd
ExecStop=-/usr/bin/docker rm matrix-mxisd
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
