[Unit]
Description=Matrix Riot web server
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-riot-web
ExecStartPre=-/usr/bin/docker rm matrix-riot-web
ExecStart=/usr/bin/docker run --rm --name matrix-riot-web \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			-v {{ matrix_riot_web_data_path }}/config.json:/riot-web/webapp/config.json:ro \
			-v {{ matrix_riot_web_data_path }}/riot.im.conf:/data/riot.im.conf:ro \
			--network={{ matrix_docker_network }} \
			{% if not matrix_nginx_proxy_enabled %}
			-p 127.0.0.1:8765:8765 \
			{% endif %}
			{{ matrix_docker_image_riot }}
ExecStop=-/usr/bin/docker kill matrix-riot-web
ExecStop=-/usr/bin/docker rm matrix-riot-web
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
