[Unit]
Description=Matrix Riot web server
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-riot-web
ExecStartPre=-/usr/bin/docker rm matrix-riot-web
ExecStart=/usr/bin/docker run --rm --name matrix-riot-web \
			-v {{ matrix_nginx_riot_web_data_path }}:/data \
			{% if not matrix_nginx_proxy_enabled %}
			-p 127.0.0.1:8765:8765 \
			{% endif %}
			{{ docker_riot_image }}
ExecStop=-/usr/bin/docker kill matrix-riot-web
ExecStop=-/usr/bin/docker rm matrix-riot-web
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
