[Unit]
Description=Matrix nginx proxy server
After=docker.service
Requires=docker.service
Requires=matrix-synapse.service
After=matrix-synapse.service
Requires=matrix-riot-web.service
After=matrix-riot-web.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-nginx-proxy
ExecStartPre=-/usr/bin/docker rm matrix-nginx-proxy
ExecStart=/usr/bin/docker run --rm --name matrix-nginx-proxy \
			-p 80:80 \
			-p 443:443 \
			--link matrix-synapse:synapse \
			--link matrix-riot-web:riot \
			-v {{ matrix_nginx_proxy_confd_path }}:/etc/nginx/conf.d \
			-v {{ matrix_ssl_certs_path }}:/acmetool-certs \
			{{ docker_nginx_image }}
ExecStop=-/usr/bin/docker kill matrix-nginx-proxy
ExecStop=-/usr/bin/docker rm matrix-nginx-proxy
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
