{#
SPDX-FileCopyrightText: 2022 MDAD Team and contributors

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{
  "defaultEnv": {
    "ENV": "NODE_ENV"
  },
  "development": {
    "driver": "sqlite3",
    "filename": "/data/development.db"
  },
  "production": {
    "driver": "sqlite3",
    "filename": "/data/production.db"
  }
}
