"$schema": "http://json-schema.org/draft-04/schema#"
type: "object"
properties:
  provisioning:
    type: "object"
    properties:
      secret:
        type: "string"
  homeserver:
    type: "object"
    properties:
      domain:
        type: "string"
      url:
        type: "string"
      mediaUrl:
        type: "string"
  web:
    type: "object"
    properties:
      hookUrlBase:
        type: "string"
  webhookBot:
    type: "object"
    properties:
      localpart:
        type: "string"
      appearance:
        type: "object"
        properties:
          displayName:
            type: "string"
          avatarUrl:
            type: "string"
  logging:
    type: "object"
    properties:
      file:
        type: "string"
      console:
        type: "boolean"
      consoleLevel:
        type: "string"
      fileLevel:
        type: "string"
      writeFiles:
        type: "boolean"
      rotate:
        type: "object"
        properties:
          size:
            type: "number"
          count:
            type: "number"
