[Unit]
Description=Reloads matrix-coturn periodically so that new SSL certificates can kick in

[Timer]
Unit=matrix-coturn-reload.service
OnCalendar=Sunday *-*-* 13:00:00
RandomizedDelaySec=3h

[Install]
WantedBy=timers.target
