[Unit]
Description=Reloads matrix-coturn periodically so that new SSL certificates can kick in
PartOf=matrix.target

[Timer]
Unit=matrix-coturn-reload.service
OnCalendar=*-*-* 06:30:00
RandomizedDelaySec=1h

[Install]
WantedBy=matrix.target

