#jinja2: lstrip_blocks: "True"
worker_app: synapse.app.{{ item.type }}
worker_name: {{ item.type ~ ':' ~ item.port }}

worker_replication_host: 127.0.0.1
worker_replication_http_port: {{ matrix_synapse_replication_http_port }}

{% if item.type not in [ 'appservice', 'federation_sender', 'pusher' ] %}
worker_listeners:
  - type: http
    port: {{ item.port }}
    resources:
      - names:
{% if item.type in [ 'generic_worker', 'frontend_proxy', 'user_dir' ] %}
        - client
{% endif %}
{% if item.type in [ 'generic_worker' ] %}
        - federation
{% elif item.type in [ 'media_repository' ] %}
        - media
{% endif %}
{% endif %}

  - type: metrics
    bind_address: ''
    port: {{ item.metrics_port }}

{% if item.type == 'frontend_proxy' %}
worker_main_http_uri: http://127.0.0.1:8008
{% endif %}

worker_daemonize: false
worker_log_config: /data/{{ matrix_server_fqn_matrix }}.log.config
