{
	"push": {{ hydrogen_push | to_json }},
	"defaultHomeServer": {{ hydrogen_default_hs_url | string | to_json }},
	"bugReportEndpointUrl": {{ hydrogen_bugReportEndpointUrl | to_json }},
	"themeManifests": [
		"{{ '' if hydrogen_path_prefix == '/' else hydrogen_path_prefix }}/assets/theme-element.json"
	],
	"defaultTheme": {
		"light": "element-light",
		"dark": "element-dark"
	}
}
