{
	"push": {{ matrix_client_hydrogen_push | to_json }},
	"defaultHomeServer": {{ matrix_client_hydrogen_default_hs_url | string | to_json }},
	"bugReportEndpointUrl": {{ matrix_client_hydrogen_bugReportEndpointUrl | to_json }},
	"themeManifests": [
		"assets/theme-element.json"
	],
	"defaultTheme": {
		"light": "element-light",
		"dark": "element-dark"
	}
}
