{#
SPDX-FileCopyrightText: 2023 - 2024 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if hydrogen_container_labels_traefik_enabled %}
traefik.enable=true

{% if hydrogen_container_labels_traefik_docker_network %}
traefik.docker.network={{ hydrogen_container_labels_traefik_docker_network }}
{% endif %}

traefik.http.services.hydrogen.loadbalancer.server.port=8080

{% set middlewares = [] %}

{% if hydrogen_container_labels_traefik_compression_middleware_enabled %}
{% set middlewares = middlewares + [hydrogen_container_labels_traefik_compression_middleware_name] %}
{% endif %}

{% if hydrogen_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.hydrogen-slashless-redirect.redirectregex.regex=({{ hydrogen_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.hydrogen-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + ['hydrogen-slashless-redirect'] %}
{% endif %}

{% if hydrogen_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.hydrogen-strip-prefix.stripprefix.prefixes={{ hydrogen_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + ['hydrogen-strip-prefix'] %}
{% endif %}

{% if hydrogen_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in hydrogen_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.hydrogen-add-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + ['hydrogen-add-headers'] %}
{% endif %}

traefik.http.routers.hydrogen.rule={{ hydrogen_container_labels_traefik_rule }}
{% if hydrogen_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.hydrogen.priority={{ hydrogen_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.hydrogen.service=hydrogen
{% if middlewares | length > 0 %}
traefik.http.routers.hydrogen.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.hydrogen.entrypoints={{ hydrogen_container_labels_traefik_entrypoints }}
traefik.http.routers.hydrogen.tls={{ hydrogen_container_labels_traefik_tls | to_json }}
{% if hydrogen_container_labels_traefik_tls %}
traefik.http.routers.hydrogen.tls.certResolver={{ hydrogen_container_labels_traefik_tls_certResolver }}
{% endif %}

{% endif %}

{{ hydrogen_container_labels_additional_labels }}
