{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "{{ matrix_homeserver_url }}",
      "server_name": "{{ matrix_server_name }}"
    }
  },
  "livekit": {
    "livekit_service_url": "{{ matrix_element_call_livekit_service_url }}"
  }
}
