{
  "default_server_config": {
    "m.homeserver": {
      "base_url": {{ matrix_element_call_config_default_server_config_m_homeserver_base_url | to_json }},
      "server_name": {{ matrix_element_call_config_default_server_config_m_homeserver_server_name | to_json}}
    }
  },
  "livekit": {
    "livekit_service_url": {{ matrix_element_call_config_livekit_livekit_service_url | to_json }}
  }
}
