{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "{{ matrix_homeserver_url }}",
      "server_name": "{{ matrix_domain }}"
    }
  },
  "livekit": {
    "livekit_service_url": "{{ matrix_livekit_jwt_service_public_url }}"
  }
}
