{% if matrix_element_call_container_labels_traefik_enabled %}
traefik.enable=true

{% if matrix_element_call_container_labels_traefik_docker_network %}
traefik.docker.network={{ matrix_element_call_container_labels_traefik_docker_network }}
{% endif %}

# Element Call Labels
traefik.http.routers.element-call-router.rule={{ matrix_element_call_container_labels_traefik_rule }}
traefik.http.routers.element-call-router.entrypoints={{ matrix_element_call_container_labels_traefik_entrypoints }}
traefik.http.routers.element-call-router.tls.certresolver={{ matrix_element_call_container_labels_traefik_tls_certResolver }}
traefik.http.services.element-call-service.loadbalancer.server.port=8080

{% set middlewares = [] %}

# Path prefix handling for Element Call
{% if matrix_element_call_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.element-call-slashless-redirect.redirectregex.regex=({{ matrix_element_call_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.element-call-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + ['element-call-slashless-redirect'] %}

traefik.http.middlewares.element-call-strip-prefix.stripprefix.prefixes={{ matrix_element_call_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + ['element-call-strip-prefix'] %}
{% endif %}

# Additional response headers for Element Call
{% if matrix_element_call_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in matrix_element_call_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.element-call-add-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + ['element-call-add-headers'] %}
{% endif %}

# Add middlewares to the Element Call router
{% if middlewares | length > 0 %}
traefik.http.routers.element-call-router.middlewares={{ middlewares | join(',') }}
{% endif %}

{% endif %}

# Additional labels (if any) specified by the user
{% if matrix_element_call_container_extra_arguments.keys() | length > 0 %}
{% for key, value in matrix_element_call_container_extra_arguments.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
