{
	{% if matrix_static_files_file_element_element_json_property_call_widget_url %}
	"call": {
		"widget_url": {{ matrix_static_files_file_element_element_json_property_call_widget_url | to_json }}
	}
	{% endif %}
}
