{#
SPDX-FileCopyrightText: 2023 Johan Swetzén
SPDX-FileCopyrightText: 2024 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

DATABASE_URL={{ matrix_mautrix_signal_wsproxy_syncproxy_connection_string }}
HOMESERVER_URL={{ matrix_mautrix_wsproxy_syncproxy_homeserver_url  }}
SHARED_SECRET={{ matrix_mautrix_wsproxy_syncproxy_shared_secret }}
