{#
SPDX-FileCopyrightText: 2023 - 2024 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if matrix_client_element_container_labels_traefik_enabled %}
traefik.enable=true

{% if matrix_client_element_container_labels_traefik_docker_network %}
traefik.docker.network={{ matrix_client_element_container_labels_traefik_docker_network }}
{% endif %}

traefik.http.services.matrix-client-element.loadbalancer.server.port=8080

{% set middlewares = [] %}

{% if matrix_client_element_container_labels_traefik_compression_middleware_enabled %}
{% set middlewares = middlewares + [matrix_client_element_container_labels_traefik_compression_middleware_name] %}
{% endif %}

{% if matrix_client_element_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.matrix-client-element-slashless-redirect.redirectregex.regex=({{ matrix_client_element_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.matrix-client-element-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + ['matrix-client-element-slashless-redirect'] %}
{% endif %}

{% if matrix_client_element_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.matrix-client-element-strip-prefix.stripprefix.prefixes={{ matrix_client_element_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + ['matrix-client-element-strip-prefix'] %}
{% endif %}

{% if matrix_client_element_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in matrix_client_element_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.matrix-client-element-add-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + ['matrix-client-element-add-headers'] %}
{% endif %}

traefik.http.routers.matrix-client-element.rule={{ matrix_client_element_container_labels_traefik_rule }}
{% if matrix_client_element_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.matrix-client-element.priority={{ matrix_client_element_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.matrix-client-element.service=matrix-client-element
{% if middlewares | length > 0 %}
traefik.http.routers.matrix-client-element.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.matrix-client-element.entrypoints={{ matrix_client_element_container_labels_traefik_entrypoints }}
traefik.http.routers.matrix-client-element.tls={{ matrix_client_element_container_labels_traefik_tls | to_json }}
{% if matrix_client_element_container_labels_traefik_tls %}
traefik.http.routers.matrix-client-element.tls.certResolver={{ matrix_client_element_container_labels_traefik_tls_certResolver }}
{% endif %}

{% endif %}

{{ matrix_client_element_container_labels_additional_labels }}
