{
    "layers": [
        {
            "id": "locallayer",
            "source": "localsource",
            "type": "raster"
        }
    ],
    "sources": {
        "localsource": {
            "attribution": {{ matrix_client_element_location_sharing_map_style_content_sources_localsource_attribution|to_json }},
            "tileSize": 256,
            "tiles": {{ matrix_client_element_location_sharing_map_style_content_sources_localsource_tiles|to_json }},
            "type": "raster"
        }
    },
    "version": 8
}
