#jinja2: lstrip_blocks: True
[Unit]
Description=prometheus-nginxlog-exporteer ({{ prometheus_nginxlog_exporter_identifier }})
{% for service in prometheus_nginxlog_exporter_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in prometheus_nginxlog_exporter_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ prometheus_nginxlog_exporter_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ prometheus_nginxlog_exporter_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ prometheus_nginxlog_exporter_identifier }} \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--read-only \
			--network={{ prometheus_nginxlog_exporter_container_network }} \
			{% if prometheus_nginxlog_exporter_container_http_host_bind_port %}
			-p {{ prometheus_nginxlog_exporter_container_http_host_bind_port }}:{{ prometheus_nginxlog_exporter_container_metrics_port }} \
			{% endif %}
			{% if prometheus_nginxlog_exporter_container_syslog_host_bind_port %}
			-p {{ prometheus_nginxlog_exporter_container_syslog_host_bind_port }}:{{ prometheus_nginxlog_exporter_container_syslog_port }}/udp \
			{% endif %}
			--mount type=bind,src={{ prometheus_nginxlog_exporter_config_path }},dst=/etc/prometheus-nginxlog-exporter \
			--label-file={{ prometheus_nginxlog_exporter_base_path }}/labels \
			{% for arg in prometheus_nginxlog_exporter_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ prometheus_nginxlog_exporter_docker_image }} \
			-config-file /etc/prometheus-nginxlog-exporter/prometheus-nginxlog-exporter.yaml

{% for network in prometheus_nginxlog_exporter_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ prometheus_nginxlog_exporter_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ prometheus_nginxlog_exporter_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ prometheus_nginxlog_exporter_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ prometheus_nginxlog_exporter_identifier }} 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier={{ prometheus_nginxlog_exporter_identifier }}

[Install]
WantedBy=multi-user.target
