[Interface]
Address = {{ tawkie_wireguard_admin_conf_interface_ip }}/24
PrivateKey = {{ tawkie_wireguard_admin_conf_interface_private_key }}

[Peer]
PublicKey = {{ tawkie_wireguard_admin_conf_peer_public_key }}
AllowedIPs = {{ tawkie_wireguard_admin_conf_peer_ip }}/32
Endpoint = {{ tawkie_wireguard_admin_conf_peer_endpoint }}
# Without keep-alive the transverse server can't reach the matrix server
PersistentKeepalive = 10

