#jinja2: lstrip_blocks: "True"
[Unit]
Description=matrix-synapse-admin
{% for service in matrix_synapse_admin_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_synapse_admin_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ matrix_host_command_docker }} kill matrix-synapse-admin
ExecStartPre=-{{ matrix_host_command_docker }} rm matrix-synapse-admin

ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-synapse-admin \
			--log-driver=none \
			--cap-drop=ALL \
			--cap-add=CHOWN \
			--cap-add=NET_BIND_SERVICE \
			--cap-add=SETUID \
			--cap-add=SETGID \
			--network={{ matrix_docker_network }} \
			{% if matrix_synapse_admin_container_http_host_bind_port %}
			-p {{ matrix_synapse_admin_container_http_host_bind_port }}:80 \
			{% endif %}
			{% for arg in matrix_synapse_admin_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_synapse_admin_docker_image }}

ExecStop=-{{ matrix_host_command_docker }} kill matrix-synapse-admin
ExecStop=-{{ matrix_host_command_docker }} rm matrix-synapse-admin
Restart=always
RestartSec=30
SyslogIdentifier=matrix-synapse-admin

[Install]
WantedBy=multi-user.target
