#jinja2: lstrip_blocks: "True"
bridge:
  # Address for the bridge to bind to; if running as a Docker container, you
  # probably want 0.0.0.0 here
  bindAddress: 0.0.0.0
  # Port to host the bridge on which your homeserver will connect to
  port: {{ matrix_mx_puppet_skype_appservice_port }}
  # Name of your homeserver
  domain: {{ matrix_domain }}
  # URL where the bridge can connect to your homeserver
  homeserverUrl: {{ matrix_mx_puppet_skype_homeserver_address }}
  # Optionally specify a different media URL used for the media store
  mediaURL: https://{{ matrix_server_fqn_matrix }}
  # This enabled automatic double-puppeting:
  # A map for shared secrets of the homeserver URL to the shared secret
  # See https://github.com/devture/matrix-synapse-shared-secret-auth
  #loginSharedSecretMap:
  #  yourserver.com: supersecretsharedsecret
  {% if matrix_mx_puppet_skype_login_shared_secret != '' %}
  loginSharedSecretMap:
    {{ matrix_domain }}: {{ matrix_mx_puppet_skype_login_shared_secret }}
  {% endif %}
  # optionally override the display name of the bridge bot
  #displayname: Protocol Bot
  # optionally set the avatar of the bridge bot
  #avatarUrl: mxc://yourserver.com/somefile

logging:
  # Log level of console output
  # Allowed values starting with most verbose:
  # silly, debug, verbose, info, warn, error
  console: info
  # Optionally, you can apply filters to the console logging
  #console:
  #  level: info
  #  enabled:
  #    - Store
  #  disabled:
  #    - PresenceHandler

  # Date and time formatting
  lineDateFormat: MMM-D HH:mm:ss.SSS
  # Logging files
  # Log files are rotated daily by default
  files: []

database:
{% if matrix_mx_puppet_skype_database_engine == 'postgres' %}
  # Use Postgres as a database backend
  # If set, will be used instead of SQLite3
  # Connection string to connect to the Postgres instance
  # with username "user", password "pass", host "localhost" and database name "dbname".
  # Modify each value as necessary
  connString: {{ matrix_mx_puppet_skype_database_connection_string|to_json }}
{% else %}
  # Use SQLite3 as a database backend
  # The name of the database file
  filename: {{ matrix_mx_puppet_skype_sqlite_database_path_in_container|to_json }}
{% endif %}

provisioning:
  # Regex of Matrix IDs allowed to use the puppet bridge
  whitelist: {{ matrix_mx_puppet_skype_provisioning_whitelist|to_json }}
    # Allow a specific user
    #- "@user:server\\.com"
    # Allow users on a specific homeserver
    #- "@.*:yourserver\\.com"
    # Allow anyone
    #- ".*"

  # Regex of Matrix IDs forbidden from using the puppet bridge
  #blacklist:
    # Disallow a specific user
    #- "@user:server\\.com"
    # Disallow users on a specific homeserver
    #- "@.*:yourserver\\.com"
  blacklist: {{ matrix_mx_puppet_skype_provisioning_blacklist|to_json }}

presence:
  # Bridge online/offline status
  enabled: true
  # How often to send status to the homeserver in milliseconds
  interval: 500
  # if the im.vector.user_status state setting should be diabled
  #disableStatusState: false
  # A blacklist of remote user IDs for the im.vector.user_status state setting
  #statusStateBlacklist:
  # - baduser

relay:
  # Regex of Matrix IDs to allow to use the relay mode
  # Same format as in provisioning
  #whitelist:
    #- "@.*:yourserver\\.com"
  whitelist: {{ matrix_mx_puppet_skype_relay_whitelist|to_json }}

  #blacklist:
    #- "@user:yourserver\\.com"
  blacklist: {{ matrix_mx_puppet_skype_relay_blacklist|to_json }}

# Map certain homeserver URLs to the C-S API endpoint
# Useful for double-puppeting if .well-known is unavailable for some reason
#homeserverUrlMap:
#  yourserver.com: http://localhost:1234

namePatterns:
  # Override the protocols set default name patterns
  # Which variables are available depends on protocol implementation
  user: :name
  room: :name

limits:
  # Up to how many users should be auto-joined on room creation? -1 to disable
  # Defaults to 200
  maxAutojoinUsers: 200
  # How long the delay between two autojoin users should be, in millisectonds.
  # Defaults to 5000
  roomUserAutojoinDelay: 5000
