{
    "contacts": {{ matrix_static_files_file_matrix_support_property_m_contacts|to_json }}
    {% if matrix_static_files_file_matrix_support_property_m_support_page %},
        "support_page": {{ matrix_static_files_file_matrix_support_property_m_support_page|to_json }}
    {% endif %}
}
