bot:
  server: {{ matrix_bot_matrix_registration_bot_bot_server|to_json }}
  username: {{ matrix_bot_matrix_registration_bot_matrix_user_id_localpart|to_json }}
  access_token: {{ matrix_bot_matrix_registration_bot_bot_access_token|to_json }}
api:
  # API endpoint of the registration tokens
  base_url: {{ matrix_bot_matrix_registration_bot_api_base_url|to_json }}
  # Access token of an administrator on the server
  token: {{ matrix_bot_matrix_registration_bot_api_token|to_json }}
logging:
  level: {{ matrix_bot_matrix_registration_bot_logging_level|to_json }}

