#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix sms bridge
{% for service in matrix_sms_bridge_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_sms_bridge_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-/usr/bin/docker kill matrix-sms-bridge
ExecStartPre=-/usr/bin/docker rm matrix-sms-bridge

# Intentional delay, so that the homeserver (we likely depend on) can manage to start.
ExecStartPre=/bin/sleep 5

ExecStart=/usr/bin/docker run --rm --name matrix-sms-bridge \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			{% if matrix_sms_bridge_container_http_host_bind_port %}
			-p {{ matrix_sms_bridge_container_http_host_bind_port }}:8080 \
			{% endif %}
			-v {{ matrix_sms_bridge_config_path }}:/config:z \
			-v {{ matrix_sms_bridge_data_path }}:/data:z \
			--env SPRING_CONFIG_ADDITIONAL_LOCATION=/config/application.yml \
			{% for arg in matrix_sms_bridge_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_sms_bridge_docker_image }}

ExecStop=-/usr/bin/docker kill matrix-sms-bridge
ExecStop=-/usr/bin/docker rm matrix-sms-bridge
Restart=always
RestartSec=30
SyslogIdentifier=matrix-sms-bridge

 [Install]
WantedBy=multi-user.target
