#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Mautrix Whatsapp bridge
{% for service in matrix_mautrix_whatsapp_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_mautrix_whatsapp_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ matrix_host_command_docker }} kill matrix-mautrix-whatsapp
ExecStartPre=-{{ matrix_host_command_docker }} rm matrix-mautrix-whatsapp

# Intentional delay, so that the homeserver (we likely depend on) can manage to start.
ExecStartPre={{ matrix_host_command_sleep }} 5

ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-mautrix-whatsapp \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			-v {{ matrix_mautrix_whatsapp_config_path }}:/config:z \
			-v {{ matrix_mautrix_whatsapp_data_path }}:/data:z \
			--workdir=/data \
			{% for arg in matrix_mautrix_whatsapp_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_mautrix_whatsapp_docker_image }} \
			/usr/bin/mautrix-whatsapp -c /config/config.yaml -r /config/registration.yaml

ExecStop=-{{ matrix_host_command_docker }} kill matrix-mautrix-whatsapp
ExecStop=-{{ matrix_host_command_docker }} rm matrix-mautrix-whatsapp
Restart=always
RestartSec=30
SyslogIdentifier=matrix-mautrix-whatsapp

[Install]
WantedBy=multi-user.target
