{% if matrix_ldap_registration_proxy_container_labels_traefik_enabled %}
traefik.enable=true

{% if matrix_ldap_registration_proxy_container_labels_traefik_docker_network %}
traefik.docker.network={{ matrix_ldap_registration_proxy_container_labels_traefik_docker_network }}
{% endif %}

{#
	Registration
#}
{% if matrix_ldap_registration_proxy_container_labels_public_endpoint_enabled %}

traefik.http.middlewares.matrix-ldap-registration-proxy-registration-endpoint-replacepath.replacepath.path=/register

traefik.http.routers.matrix-ldap-registration-proxy-registration-endpoint.rule={{ matrix_ldap_registration_proxy_container_labels_public_endpoint_traefik_rule }}

traefik.http.routers.matrix-ldap-registration-proxy-registration-endpoint.middlewares=matrix-ldap-registration-proxy-registration-endpoint-replacepath

{% if matrix_ldap_registration_proxy_container_labels_public_endpoint_traefik_priority | int > 0 %}
traefik.http.routers.matrix-ldap-registration-proxy-registration-endpoint.priority={{ matrix_ldap_registration_proxy_container_labels_public_endpoint_traefik_priority }}
{% endif %}

traefik.http.routers.matrix-ldap-registration-proxy-registration-endpoint.service=matrix-ldap-registration-proxy
traefik.http.routers.matrix-ldap-registration-proxy-registration-endpoint.entrypoints={{ matrix_ldap_registration_proxy_container_labels_public_endpoint_traefik_entrypoints }}

traefik.http.routers.matrix-ldap-registration-proxy-registration-endpoint.tls={{ matrix_ldap_registration_proxy_container_labels_public_endpoint_traefik_tls | to_json }}
{% if matrix_ldap_registration_proxy_container_labels_public_endpoint_traefik_tls %}
traefik.http.routers.matrix-ldap-registration-proxy-registration-endpoint.tls.certResolver={{ matrix_ldap_registration_proxy_container_labels_public_endpoint_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.matrix-ldap-registration-proxy.loadbalancer.server.port={{ matrix_ldap_registration_listen_port }}
{% endif %}
{#
	/Registration
#}

{% endif %}

{{ matrix_ldap_registration_proxy_container_labels_additional_labels }}
