{
   "type": "{{ dns_config.type | default('service_account') }}",
   "project_id": "{{ dns_config.project_id }}",
   "private_key_id": "{{ dns_config.private_key_id }}",
   "private_key": "{{ dns_config.private_key }}",
   "client_email": "{{ dns_config.client_email }}",
   "client_id": "{{ dns_config.client_id }}",
   "auth_uri": "{{ dns_config.auth_uri | default('https://accounts.google.com/o/oauth2/auth') }}",
   "token_uri": "{{ dns_config.token_uri | default('https://accounts.google.com/o/oauth2/token') }}",
   "auth_provider_x509_cert_url": "{{ dns_config.auth_provider_x509_cert_url | default('https://www.googleapis.com/oauth2/v1/certs') }}",
   "client_x509_cert_url": "{{ dns_config.client_x509_cert_url }}"
}
