# OVH API credentials used by Certbot
dns_ovh_endpoint = {{ dns_config.dns_ovh_endpoint }}
dns_ovh_application_key = {{ dns_config.dns_ovh_application_key }}
dns_ovh_application_secret = {{ dns_config.dns_ovh_application_secret }}
dns_ovh_consumer_key = {{ dns_config.dns_ovh_consumer_key }}
