# Target DNS server (IPv4 or IPv6 address, not a hostname)
dns_rfc2136_server = {{ dns_config.dns_rfc2136_server }}
# Target DNS port
dns_rfc2136_port = {{ dns_config.dns_rfc2136_port | default(53) }}
# TSIG key name
dns_rfc2136_name = {{ dns_config.dns_rfc2136_name }}
# TSIG key secret
dns_rfc2136_secret = {{ dns_config.dns_rfc2136_secret }}
# TSIG key algorithm
dns_rfc2136_algorithm = {{ dns_config.dns_rfc2136_algorithm | default('HMAC-SHA512') }}
