#jinja2: lstrip_blocks: True
slack_hook_port: {{ matrix_appservice_slack_slack_port }}
inbound_uri_prefix: "{{ matrix_appservice_slack_inbound_uri_prefix }}"
bot_username: "{{ matrix_appservice_slack_bot_name }}"
username_prefix: {{ matrix_appservice_slack_user_prefix }}

homeserver:
    media_url: "{{ matrix_appservice_slack_homeserver_media_url }}"
    url: "{{ matrix_appservice_slack_homeserver_url }}"
    server_name: "{{ matrix_domain }}"

{% if matrix_appservice_slack_database_engine == 'nedb' %}
dbdir: "/data"
{% else %}
db:
    engine: {{ matrix_appservice_slack_database_engine|to_json }}
    connectionString: {{ matrix_appservice_slack_database_connectionString|to_json }}
{% endif %}

matrix_admin_room: "{{ matrix_appservice_slack_control_room_id }}"
