#jinja2: lstrip_blocks: True
slack_hook_port: {{ matrix_appservice_slack_slack_port }}
inbound_uri_prefix: "{{ matrix_appservice_slack_inbound_uri_prefix }}"
bot_username: "{{ matrix_appservice_slack_bot_name }}"
username_prefix: {{ matrix_appservice_slack_user_prefix }}

homeserver:
    server_name: "{{ matrix_domain }}"
    url: "{{ matrix_appservice_slack_homeserver_url }}"
    media_url: "{{ matrix_appservice_slack_homeserver_media_url }}"

# Real Time Messaging API (RTM)
# Optional if slack_hook_port and inbound_uri_prefix are defined, required otherwise.
#
rtm:
  # Use the RTM API to listen for requests, which does not require
  # the bridge to listen on the hook port.
  # You should leave this enabled, unless you plan to use the
  # bridge exclusively for webhooks.
  #
  enable: true

  # Logging level specific to RTM traffic.
  #
  log_level: "silent"

{% if matrix_appservice_slack_database_engine == 'nedb' %}
dbdir: "/data"
{% else %}
db:
    engine: {{ matrix_appservice_slack_database_engine|to_json }}
    connectionString: {{ matrix_appservice_slack_database_connectionString|to_json }}
{% endif %}

matrix_admin_room: "{{ matrix_appservice_slack_control_room_id }}"
