[Unit]
Description=Matrix Synapse server
{% for service in matrix_synapse_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_synapse_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-synapse
ExecStartPre=-/usr/bin/docker rm matrix-synapse
{% if matrix_s3_media_store_enabled %}
# Allow for some time before starting, so that media store can mount.
# Mounting can happen later too, but if we start writing,
# we'd write files to the local filesystem and fusermount will complain.
ExecStartPre=/bin/sleep 5
{% endif %}
ExecStart=/usr/bin/docker run --rm --name matrix-synapse \
			--log-driver=none \
			--network={{ matrix_docker_network }} \
			-e SYNAPSE_CONFIG_PATH=/data/homeserver.yaml \
			-e SYNAPSE_CACHE_FACTOR={{ matrix_synapse_cache_factor }} \
			{% if matrix_synapse_federation_enabled %}
			-p 8448:8448 \
			{% endif %}
			{% if matrix_synapse_container_expose_client_server_api_port %}
			-p 127.0.0.1:8008:8008 \
			{% endif %}
			-v {{ matrix_synapse_config_dir_path }}:/data \
			-v {{ matrix_synapse_run_path }}:/matrix-run \
			-v {{ matrix_synapse_base_path }}/storage:/matrix-media-store-parent:slave \
			{% for volume in matrix_synapse_container_additional_volumes %}
			-v {{ volume.src }}:{{ volume.dst }}:{{ volume.options }} \
			{% endfor %}
			{{ matrix_synapse_docker_image }}
ExecStop=-/usr/bin/docker kill matrix-synapse
ExecStop=-/usr/bin/docker rm matrix-synapse
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
