#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix jitsi-jvb server
{% for service in matrix_jitsi_jvb_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} kill matrix-jitsi-jvb 2>/dev/null'
ExecStartPre=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} rm matrix-jitsi-jvb 2>/dev/null'

ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-jitsi-jvb \
			--log-driver=none \
			--network={{ matrix_docker_network }} \
			--env-file={{ matrix_jitsi_jvb_base_path }}/env \
			{% if matrix_jitsi_jvb_container_rtp_udp_host_bind_port %}
			-p {{ matrix_jitsi_jvb_container_rtp_udp_host_bind_port }}:{{ matrix_jitsi_jvb_rtp_udp_port }}/udp \
			{% endif %}
			{% if matrix_jitsi_jvb_container_rtp_tcp_host_bind_port %}
			-p {{ matrix_jitsi_jvb_container_rtp_tcp_host_bind_port }}:{{ matrix_jitsi_jvb_rtp_tcp_port }} \
			{% endif %}
			{% if matrix_jitsi_jvb_container_colibri_ws_host_bind_port %}
			-p {{ matrix_jitsi_jvb_container_colibri_ws_host_bind_port }}:9090 \
			{% endif %}
			--mount type=bind,src={{ matrix_jitsi_jvb_config_path }},dst=/config \
			{% for arg in matrix_jitsi_jvb_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_jitsi_jvb_docker_image }}

ExecStop=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} kill matrix-jitsi-jvb 2>/dev/null'
ExecStop=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} rm matrix-jitsi-jvb 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=matrix-jitsi-jvb

[Install]
WantedBy=multi-user.target
