#jinja2: lstrip_blocks: "True"
[Unit]
Description=matrix-registration
{% for service in matrix_registration_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_registration_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} kill matrix-registration 2>/dev/null'
ExecStartPre=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} rm matrix-registration 2>/dev/null'

ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-registration \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			{% if matrix_registration_container_http_host_bind_port %}
			-p {{ matrix_registration_container_http_host_bind_port }}:5000 \
			{% endif %}
			--mount type=bind,src={{ matrix_registration_config_path }},dst=/config,ro \
			--mount type=bind,src={{ matrix_registration_data_path }},dst=/data \
			{% for arg in matrix_registration_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_registration_docker_image }} \
			serve

ExecStop=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} kill matrix-registration 2>/dev/null'
ExecStop=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} rm matrix-registration 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=matrix-registration

[Install]
WantedBy=multi-user.target
