{#
SPDX-FileCopyrightText: 2025 MDAD project contributors

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if matrix_bridge_steam_container_labels_traefik_enabled %}
traefik.enable=true

{% if matrix_bridge_steam_container_labels_traefik_docker_network %}
traefik.docker.network={{ matrix_bridge_steam_container_labels_traefik_docker_network }}
{% endif %}

traefik.http.services.matrix-steam-bridge.loadbalancer.server.port={{ matrix_bridge_steam_appservice_port }}

{% if matrix_bridge_steam_public_media_enabled %}
############################################################
#                                                          #
# Public Media                                             #
#                                                          #
############################################################

# Router for public media
traefik.http.routers.matrix-steam-bridge-public-media.rule=Host(`{{ matrix_server_fqn_matrix }}`) && PathPrefix(`/_mautrix/publicmedia/{{ matrix_domain }}/`)
traefik.http.routers.matrix-steam-bridge-public-media.service=matrix-steam-bridge
traefik.http.routers.matrix-steam-bridge-public-media.entrypoints={{ matrix_bridge_steam_container_labels_traefik_entrypoints }}
traefik.http.routers.matrix-steam-bridge-public-media.tls={{ matrix_bridge_steam_container_labels_traefik_tls | to_json }}
{% if matrix_bridge_steam_container_labels_traefik_tls %}
traefik.http.routers.matrix-steam-bridge-public-media.tls.certResolver={{ matrix_bridge_steam_container_labels_traefik_tls_certResolver }}
{% endif %}


############################################################
#                                                          #
# /Public Media                                            #
#                                                          #
############################################################
{% endif %}


{% endif %}

{{ matrix_bridge_steam_container_labels_additional_labels }}
