[Unit]
Description=Renews Let's Encrypt SSL certificates periodically

[Timer]
Unit=matrix-ssl-lets-encrypt-certificates-renew.service
OnCalendar=*-*-* 04:00:00
RandomizedDelaySec=2h

[Install]
WantedBy=timers.target
