[Unit]
Description=Reloads matrix-nginx-proxy periodically so that new SSL certificates can kick in

[Timer]
Unit=matrix-ssl-nginx-proxy-reload.service
OnCalendar=*-*-* 06:30:00
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
