[Unit]
Description=Reloads matrix-nginx-proxy periodically so that new SSL certificates can kick in

[Timer]
Unit=matrix-ssl-nginx-proxy-reload.service
OnCalendar=Sunday *-*-* 13:00:00
RandomizedDelaySec=3h

[Install]
WantedBy=timers.target
