#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix jitsi-jicofo server
{% for service in matrix_jitsi_jicofo_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ matrix_host_command_docker }} kill matrix-jitsi-jicofo
ExecStartPre=-{{ matrix_host_command_docker }} rm matrix-jitsi-jicofo

ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-jitsi-jicofo \
			--log-driver=none \
			--network={{ matrix_docker_network }} \
			--env-file={{ matrix_jitsi_jicofo_base_path }}/env \
			--mount type=bind,src={{ matrix_jitsi_jicofo_config_path }},dst=/config \
			{% for arg in matrix_jitsi_jicofo_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_jitsi_jicofo_docker_image }}

ExecStop=-{{ matrix_host_command_docker }} kill matrix-jitsi-jicofo
ExecStop=-{{ matrix_host_command_docker }} rm matrix-jitsi-jicofo
Restart=always
RestartSec=30
SyslogIdentifier=matrix-jitsi-jicofo

[Install]
WantedBy=multi-user.target
