#jinja2: lstrip_blocks: "True"
{
	{% if matrix_homeserver_admin_contacts %}
    "admins": {{ matrix_homeserver_admin_contacts }}
	{% endif %}
	{% if matrix_homeserver_support_url %},
    "support_page": "{{ matrix_homeserver_support_url }}"
	{% endif %}
}
