#jinja2: lstrip_blocks: "True"
{
    "admins": {{ matrix_homeserver_admin_contacts|to_json }}
    {% if matrix_homeserver_support_url %},
        "support_page": {{ matrix_homeserver_support_url|to_json }}
    {% endif %}
}
