# please specify the configuration here
#
# these settings are mandatory

# The server to connect to. Please note it must be accessible from the Docker network
# example: `ldap://127.0.0.1:389`
LDAP_SERVER={{ matrix_ldap_registration_proxy_ldap_uri }}

# the base DN used for user creation

LDAP_BASE_DN={{ matrix_ldap_registration_proxy_ldap_base_dn }}

# the privileged user used for user creation including it's DN
# example: `uid=admin,cn=users,cn=accounts,dc=example,dc=org`

LDAP_USER={{ matrix_ldap_registration_proxy_ldap_user }}

# the password of the `LDAP_USER` used for authentication
LDAP_PASSWORD={{ matrix_ldap_registration_proxy_ldap_password }}

# the human-readable server name of your Matrix server as used in the Matrix ID
# example: `example.org`
MATRIX_SERVER_NAME={{ matrix_ldap_registration_proxy_matrix_server_name }}

# the url to access the Matrix server API without trailing `/`
# example: `https://matrix.example.org`
MATRIX_SERVER_URL={{ matrix_ldap_registration_proxy_matrix_server_url }}

# these settings are optional:

# Specify the port to listen on. Default to 8080
LISTEN_PORT={{ matrix_ldap_registration_proxy_container_port }}

# Use this to extend the configuration with custom variables
{{ matrix_ldap_registration_proxy_env_variables_extension }}
