#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Dimension
After=docker.service
Requires=docker.service
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ matrix_host_command_docker }} kill matrix-dimension
ExecStartPre=-{{ matrix_host_command_docker }} rm matrix-dimension

# Fixup database ownership if it got changed somehow (during a server migration, etc.)
ExecStartPre=-{{ matrix_host_command_chown }} {{ matrix_dimension_user_uid }}:{{ matrix_dimension_user_gid }} {{ matrix_dimension_base_path }}/dimension.db

ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-dimension \
			--log-driver=none \
			--user={{ matrix_dimension_user_uid }}:{{ matrix_dimension_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			{% if matrix_dimension_widgets_allow_self_signed_ssl_certificates %}
			-e NODE_TLS_REJECT_UNAUTHORIZED=0 \
			{% endif %}
			{% if matrix_dimension_container_http_host_bind_port %}
			-p {{ matrix_dimension_container_http_host_bind_port }}:8184 \
			{% endif %}
			--mount type=bind,src={{ matrix_dimension_base_path }},dst=/data \
			{% for arg in matrix_dimension_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_dimension_docker_image }}

ExecStop=-{{ matrix_host_command_docker }} kill matrix-dimension
ExecStop=-{{ matrix_host_command_docker }} rm matrix-dimension
Restart=always
RestartSec=30
SyslogIdentifier=matrix-dimension

[Install]
WantedBy=multi-user.target
