#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Corporal
{% for service in matrix_corporal_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ matrix_host_command_docker }} kill matrix-corporal
ExecStartPre=-{{ matrix_host_command_docker }} rm matrix-corporal

ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-corporal \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--read-only \
			--network={{ matrix_docker_network }} \
			{% if matrix_corporal_container_http_gateway_host_bind_port %}
			-p {{ matrix_corporal_container_http_gateway_host_bind_port }}:41080 \
			{% endif %}
			{% if matrix_corporal_container_http_api_host_bind_port %}
			-p {{ matrix_corporal_container_http_api_host_bind_port }}:41081 \
			{% endif %}
			--mount type=bind,src={{ matrix_corporal_config_dir_path }},dst=/etc/matrix-corporal,ro \
			--mount type=bind,src={{ matrix_corporal_cache_dir_path }},dst=/var/cache/matrix-corporal \
			--mount type=bind,src={{ matrix_corporal_var_dir_path }},dst=/var/matrix-corporal \
			{% for arg in matrix_corporal_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_corporal_docker_image }} \
			/matrix-corporal -config=/etc/matrix-corporal/config.json

ExecStop=-{{ matrix_host_command_docker }} kill matrix-corporal
ExecStop=-{{ matrix_host_command_docker }} rm matrix-corporal
Restart=always
RestartSec=30
SyslogIdentifier=matrix-corporal

[Install]
WantedBy=multi-user.target
