#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Element server
{% for service in matrix_client_element_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-{{ matrix_host_command_docker }} kill matrix-client-element
ExecStartPre=-{{ matrix_host_command_docker }} rm matrix-client-element

ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-client-element \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--read-only \
			--network={{ matrix_docker_network }} \
			{% if matrix_client_element_container_http_host_bind_port %}
			-p {{ matrix_client_element_container_http_host_bind_port }}:8080 \
			{% endif %}
			--tmpfs=/tmp:rw,noexec,nosuid,size=10m \
			--mount type=bind,src={{ matrix_client_element_data_path }}/nginx.conf,dst=/etc/nginx/nginx.conf,ro \
			--mount type=bind,src={{ matrix_client_element_data_path }}/config.json,dst=/app/config.json,ro \
			--mount type=bind,src={{ matrix_client_element_data_path }}/config.json,dst=/app/config.{{ matrix_server_fqn_element }}.json,ro \
			{% if matrix_client_element_embedded_pages_home_path is not none %}
			--mount type=bind,src={{ matrix_client_element_data_path }}/home.html,dst=/app/home.html,ro \
			{% endif %}
			--mount type=bind,src={{ matrix_client_element_data_path }}/welcome.html,dst=/app/welcome.html,ro \
			{% for arg in matrix_client_element_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_client_element_docker_image }}

ExecStop=-{{ matrix_host_command_docker }} kill matrix-client-element
ExecStop=-{{ matrix_host_command_docker }} rm matrix-client-element
Restart=always
RestartSec=30
SyslogIdentifier=matrix-client-element

[Install]
WantedBy=multi-user.target
