{
	"push": {
		"appId": "io.element.hydrogen.web",
		"gatewayUrl": "https://matrix.org",
		"applicationServerKey": "BC-gpSdVHEXhvHSHS0AzzWrQoukv2BE7KzpoPO_FfPacqOo3l1pdqz7rSgmB04pZCWaHPz7XRe6fjLaC-WPDopM"
	},
	"defaultHomeServer": {{ matrix_client_hydrogen_default_hs_url | string|to_json }},
	"bugReportEndpointUrl": "https://element.io/bugreports/submit",
	"themeManifests": [
		"assets/theme-Element.json"
	],
	"defaultTheme": {
		"light": "element-light",
		"dark": "element-dark"
	}
}
