{#
SPDX-FileCopyrightText: 2024 MDAD Team and contributors

SPDX-License-Identifier: AGPL-3.0-or-later
#}

# Default configuration for rageshake.
# To extend it, use `matrix_rageshake_configuration_extension_yaml`.

api_prefix: {{ matrix_rageshake_config_api_prefix | to_json }}
