#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Dynamic DNS
{% for service in matrix_dynamic_dns_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_dynamic_dns_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ matrix_host_command_docker }} kill matrix-dynamic-dns
ExecStartPre=-{{ matrix_host_command_docker }} rm matrix-dynamic-dns
ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-dynamic-dns \
			--log-driver=none \
			--network={{ matrix_docker_network }} \
  			-e PUID={{ matrix_user_uid }} \
  			-e PGID={{ matrix_user_gid }} \
			-v {{ matrix_dynamic_dns_config_path }}:/config:z \
			{% for arg in matrix_dynamic_dns_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_dynamic_dns_docker_image }}

ExecStop=-{{ matrix_host_command_docker }} kill matrix-dynamic-dns
ExecStop=-{{ matrix_host_command_docker }} rm matrix-dynamic-dns
Restart=always
RestartSec=30
SyslogIdentifier=matrix-dynamic-dns

[Install]
WantedBy=multi-user.target
