#jinja2: lstrip_blocks: "True"
#!/bin/bash

docker run \
	-it \
	--rm \
	--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
	--cap-drop=ALL \
	--env-file={{ matrix_postgres_base_path }}/env-postgres-psql \
	--network {{ matrix_docker_network }} \
	{{ matrix_postgres_docker_image_to_use }} \
	psql -h {{ matrix_postgres_connection_hostname }} \
	"$@"
