#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix mailer
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-mailer
ExecStartPre=-/usr/bin/docker rm matrix-mailer

ExecStart=/usr/bin/docker run --rm --name matrix-mailer \
			--log-driver=none \
			--user={{ matrix_mailer_container_user_uid }}:{{ matrix_mailer_container_user_gid }} \
			--cap-drop=ALL \
			--read-only \
			--init \
			--tmpfs=/var/spool/exim:rw,noexec,nosuid,size=100m \
			--network={{ matrix_docker_network }} \
			--env-file={{ matrix_mailer_base_path }}/env-mailer \
			--hostname={{ matrix_server_fqn_matrix }} \
			{% for arg in matrix_mailer_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_mailer_docker_image }}

ExecStop=-/usr/bin/docker kill matrix-mailer
ExecStop=-/usr/bin/docker rm matrix-mailer
Restart=always
RestartSec=30
SyslogIdentifier=matrix-mailer

[Install]
WantedBy=multi-user.target
