#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix mailer
After=docker.service
Requires=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-{{ matrix_host_command_docker }} kill matrix-mailer
ExecStartPre=-{{ matrix_host_command_docker }} rm matrix-mailer

# --hostname gives us a friendlier hostname than the default.
# The real hostname is passed via a `HOSTNAME` environment variable though.
ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-mailer \
			--log-driver=none \
			--user={{ matrix_mailer_container_user_uid }}:{{ matrix_mailer_container_user_gid }} \
			--cap-drop=ALL \
			--read-only \
			--init \
			--tmpfs=/var/spool/exim:rw,noexec,nosuid,size=100m \
			--network={{ matrix_docker_network }} \
			--env-file={{ matrix_mailer_base_path }}/env-mailer \
			--hostname=matrix-mailer \
			{% for arg in matrix_mailer_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_mailer_docker_image }}

ExecStop=-{{ matrix_host_command_docker }} kill matrix-mailer
ExecStop=-{{ matrix_host_command_docker }} rm matrix-mailer
Restart=always
RestartSec=30
SyslogIdentifier=matrix-mailer

[Install]
WantedBy=multi-user.target
