#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Beeper Linkedin bridge
{% for service in matrix_beeper_linkedin_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_beeper_linkedin_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill matrix-beeper-linkedin 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm matrix-beeper-linkedin 2>/dev/null || true'

# Intentional delay, so that the homeserver (we likely depend on) can manage to start.
ExecStartPre={{ matrix_host_command_sleep }} 5

ExecStart={{ devture_systemd_docker_base_host_command_docker }} run --rm --name matrix-beeper-linkedin \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			-v {{ matrix_beeper_linkedin_config_path }}:/data:z \
			--workdir=/opt/linkedin-matrix \
			{% for arg in matrix_beeper_linkedin_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_beeper_linkedin_docker_image }} \
                        python3 -m linkedin_matrix -c /data/config.yaml -r /data/registration.yaml

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill matrix-beeper-linkedin 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm matrix-beeper-linkedin 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier=matrix-beeper-linkedin

[Install]
WantedBy=multi-user.target
