base_url: {{ matrix_ntfy_base_url }}
behind_proxy: true
cache_file: /data/cache.db
listen-http: :8080

# Rate Limits
global-topic-limit: {{ matrix_ntfy_global_topic_limit | to_json }}
visitor-subscription-limit: {{ matrix_ntfy_visitor_subscription_limit | to_json }}

visitor-request-limit-burst: {{ matrix_ntfy_visitor_request_limit_burst | to_json }}
visitor-request-limit-replenish: "{{ matrix_ntfy_visitor_request_limit_replenish }}"
