base_url: {{ matrix_ntfy_base_url }}
behind_proxy: true
cache_file: /data/cache.db
listen-http: :8080

# Rate Limits
global-topic-limit: {{ matrix_ntfy_limit_global_topic }}
visitor-subscription-limit: {{ matrix_ntfy_limit_visitor_subscriptions }}

visitor-request-limit-burst: {{ matrix_ntfy_limit_burst_rate }}
visitor-request-limit-replenish: "{{ matrix_ntfy_limit_replenish_rate }}"
visitor-request-limit-exempt-hosts: "{{ matrix_ntfy_limit_rate_exempt }}"
