#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Mautrix Hangouts bridge
{% for service in matrix_mautrix_hangouts_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_mautrix_hangouts_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-{{ matrix_host_command_docker }} kill matrix-mautrix-hangouts matrix-mautrix-hangouts-db
ExecStartPre=-{{ matrix_host_command_docker }} rm matrix-mautrix-hangouts matrix-mautrix-hangouts-db
ExecStartPre={{ matrix_host_command_docker }} run --rm --name matrix-mautrix-hangouts-db \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			-v {{ matrix_mautrix_hangouts_config_path }}:/config:z \
			-v {{ matrix_mautrix_hangouts_data_path }}:/data:z \
			{{ matrix_mautrix_hangouts_docker_image }} \
			alembic -x config=/config/config.yaml upgrade head

# Intentional delay, so that the homeserver (we likely depend on) can manage to start.
ExecStartPre={{ matrix_host_command_sleep }} 5

ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-mautrix-hangouts \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			{% if matrix_mautrix_hangouts_container_http_host_bind_port %}
			-p {{ matrix_mautrix_hangouts_container_http_host_bind_port }}:8080 \
			{% endif %}
			-v {{ matrix_mautrix_hangouts_config_path }}:/config:z \
			-v {{ matrix_mautrix_hangouts_data_path }}:/data:z \
			{% for arg in matrix_mautrix_hangouts_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_mautrix_hangouts_docker_image }} \
			python3 -m mautrix_hangouts -c /config/config.yaml

ExecStop=-{{ matrix_host_command_docker }} kill matrix-mautrix-hangouts
ExecStop=-{{ matrix_host_command_docker }} rm matrix-mautrix-hangouts
Restart=always
RestartSec=30
SyslogIdentifier=matrix-mautrix-hangouts

[Install]
WantedBy=multi-user.target
