#jinja2: lstrip_blocks: True
# Configuration specific to the application service. All fields (unless otherwise marked) are required.
homeserver:
  # The domain for the client-server API calls.
  url: "{{ matrix_appservice_polychat_homeserver_url }}"

  # The domain part for user IDs on this home server. Usually, but not always, this is the same as the
  # home server's URL.
  domain: "{{ matrix_domain }}"

# Configuration specific to the bridge. All fields (unless otherwise marked) are required.
webhookBot:
  # The localpart to use for the bot. May require re-registering the application service.
  localpart: "_webhook"
# Configuration related to the web portion of the bridge. Handles the inbound polychat
web:
  hookUrlBase:  "{{ matrix_appservice_polychat_inbound_uri_prefix }}"

logging:
  console: true
  consoleLevel: {{ matrix_appservice_polychat_log_level }}
  writeFiles: false
