{#
SPDX-FileCopyrightText: 2022 MDAD Team and contributors

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{
	"listen": {
		"type": "tcp",
		"host": "0.0.0.0",
		"port": 8000,
		"force": false
	},
	"register_timeout": 3000,
	"logging_keys": {
		"request": ["mxid"],
		"response": ["status"]
	}
}
