#jinja2: lstrip_blocks: True
[Unit]
Description=matrix-ketesa
{% for service in matrix_ketesa_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_ketesa_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} matrix-ketesa 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm matrix-ketesa 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name=matrix-ketesa \
			--log-driver=none \
			--cap-drop=ALL \
			--read-only \
			--user={{ matrix_ketesa_container_uid }}:{{ matrix_ketesa_container_gid }} \
			--network={{ matrix_ketesa_container_network }} \
			{% if matrix_ketesa_container_http_host_bind_port %}
			-p {{ matrix_ketesa_container_http_host_bind_port }}:8080 \
			{% endif %}
			--label-file={{ matrix_ketesa_base_path }}/labels \
			--mount type=bind,src={{ matrix_ketesa_config_path }}/config.json,dst=/var/public/config.json,ro \
			{% for arg in matrix_ketesa_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_ketesa_container_image }}

{% for network in matrix_ketesa_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} matrix-ketesa
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach matrix-ketesa

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} matrix-ketesa 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm matrix-ketesa 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier=matrix-ketesa

[Install]
WantedBy=multi-user.target
