apiVersion: 1

providers:
  - name: {{ matrix_server_fqn_matrix }} - Dashboards
    folder: '' # The folder where to place the dashboards
    type: file
    allowUiUpdates: true
    options:
      path: /etc/grafana/dashboards
