apiVersion: 1

datasources:
  - name: {{ matrix_server_fqn_matrix }} - Prometheus
    type: prometheus
    # Access mode - proxy (server in the UI) or direct (browser in the UI).
    access: proxy
    url: http://matrix-prometheus:9090
