{#
SPDX-FileCopyrightText: 2020 Scott Crossen
SPDX-FileCopyrightText: 2022 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

daemon={{ matrix_dynamic_dns_daemon_interval }}
syslog=no
pid=/var/run/ddclient/ddclient.pid
ssl=yes
use={{ matrix_dynamic_dns_use }}
web='{{ matrix_dynamic_dns_web }}'
{% if matrix_dynamic_dns_web_skip %}
web-skip='{{ matrix_dynamic_dns_web_skip }}'
{% endif %}

{% for matrix_dynamic_dns_additional_configuration in matrix_dynamic_dns_additional_configuration_blocks %}
{{ matrix_dynamic_dns_additional_configuration }}
{% endfor %}

{% for dynamic_dns_domain_configuration in matrix_dynamic_dns_domain_configurations %}
protocol={{ dynamic_dns_domain_configuration.protocol }}

{% if 'apikey' in dynamic_dns_domain_configuration %}
apikey={{ dynamic_dns_domain_configuration.apikey }}
{% endif %}

{% if 'secretapikey' in dynamic_dns_domain_configuration %}
secretapikey={{ dynamic_dns_domain_configuration.secretapikey }}
{% endif %}

{% if 'rootdomain' in dynamic_dns_domain_configuration %}
root-domain={{ dynamic_dns_domain_configuration.rootdomain }}
{% endif %}

{% if 'provider' in dynamic_dns_domain_configuration %}
server={{ dynamic_dns_domain_configuration.provider }}
{% endif %}

{% if 'username' in dynamic_dns_domain_configuration %}
login='{{ dynamic_dns_domain_configuration.username }}'
{% endif %}

{% if 'password' in dynamic_dns_domain_configuration %}
password='{{ dynamic_dns_domain_configuration.password }}'
{% endif %}

{% if 'static' in dynamic_dns_domain_configuration %}
static=yes
{% endif %}

{% if 'custom' in dynamic_dns_domain_configuration %}
custom=yes
{% endif %}

{% if 'zone' in dynamic_dns_domain_configuration %}
zone={{ dynamic_dns_domain_configuration.zone }}
{% endif %}

{% if 'ttl' in dynamic_dns_domain_configuration %}
ttl={{ dynamic_dns_domain_configuration.ttl }}
{% endif %}

{% if 'mx' in dynamic_dns_domain_configuration %}
mx={{ dynamic_dns_domain_configuration.mx }}
{% endif %}

{% if 'wildcard' in dynamic_dns_domain_configuration %}
wildcard=yes
{% endif %}

{% if 'script' in dynamic_dns_domain_configuration %}
script={{ dynamic_dns_domain_configuration.script }}
{% endif %}

{{ dynamic_dns_domain_configuration.domain }}
{% endfor %}
