{#
SPDX-FileCopyrightText: 2022 - 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2022 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 - 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

bot:
  server: {{ matrix_bot_matrix_registration_bot_bot_server|to_json }}
  username: {{ matrix_bot_matrix_registration_bot_matrix_user_id_localpart|to_json }}
  password: {{ matrix_bot_matrix_registration_bot_bot_password|to_json }}
  prefix: {{ matrix_bot_matrix_registration_bot_bot_prefix|to_json }}

api:
  # API endpoint of the registration tokens
  base_url: {{ matrix_bot_matrix_registration_bot_api_base_url|to_json }}
{% if matrix_bot_matrix_registration_bot_api_token | length > 0 %}
  # Access token of an administrator on the server
  token: {{ matrix_bot_matrix_registration_bot_api_token|to_json }}
{% endif %}

logging:
  level: {{ matrix_bot_matrix_registration_bot_logging_level|to_json }}
