{% if matrix_appservice_slack_container_labels_traefik_enabled %}
traefik.enable=true

{% if matrix_appservice_slack_container_labels_traefik_docker_network %}
traefik.docker.network={{ matrix_appservice_slack_container_labels_traefik_docker_network }}
{% endif %}

{# Management #}
{% if matrix_appservice_slack_container_labels_public_endpoint_enabled %}
traefik.http.routers.matrix-appservice-slack-public-endpoint.rule={{ matrix_appservice_slack_container_labels_public_endpoint_traefik_rule }}
{% if matrix_appservice_slack_container_labels_public_endpoint_traefik_priority | int > 0 %}
traefik.http.routers.matrix-appservice-slack-public-endpoint.priority={{ matrix_appservice_slack_container_labels_public_endpoint_traefik_priority }}
{% endif %}
traefik.http.routers.matrix-appservice-slack-public-endpoint.service=matrix-mautrix-facebook-appservice
traefik.http.routers.matrix-appservice-slack-public-endpoint.entrypoints={{ matrix_appservice_slack_container_labels_public_endpoint_traefik_entrypoints }}
traefik.http.routers.matrix-appservice-slack-public-endpoint.tls={{ matrix_appservice_slack_container_labels_public_endpoint_traefik_tls | to_json }}
{% if matrix_appservice_slack_container_labels_public_endpoint_traefik_tls %}
traefik.http.routers.matrix-appservice-slack-public-endpoint.tls.certResolver={{ matrix_appservice_slack_container_labels_public_endpoint_traefik_tls_certResolver }}
{% endif %}
traefik.http.services.matrix-mautrix-facebook-appservice.loadbalancer.server.port={{ matrix_appservice_slack_slack_port }}
{% endif %}

{% endif %}

{{ matrix_appservice_slack_container_labels_additional_labels }}
