#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix jitsi-prosody server
{% for service in matrix_jitsi_prosody_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill matrix-jitsi-prosody 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm matrix-jitsi-prosody 2>/dev/null || true'

ExecStart={{ devture_systemd_docker_base_host_command_docker }} run --rm --name matrix-jitsi-prosody \
			--log-driver=none \
			--network={{ matrix_docker_network }} \
			--network-alias={{ matrix_jitsi_xmpp_server }} \
			{% if matrix_jitsi_prosody_container_http_host_bind_port %}
			-p {{ matrix_jitsi_prosody_container_http_host_bind_port }}:5280 \
			{% endif %}
			{% if matrix_jitsi_prosody_container_jvb_host_bind_port %}
			-p {{ matrix_jitsi_prosody_container_jvb_host_bind_port }}:5222 \
			{% endif %}
			--env-file={{ matrix_jitsi_prosody_base_path }}/env \
			--mount type=bind,src={{ matrix_jitsi_prosody_config_path }},dst=/config \
			--mount type=bind,src={{ matrix_jitsi_prosody_plugins_path }},dst=/prosody-plugins-custom \
			{% for arg in matrix_jitsi_prosody_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_jitsi_prosody_docker_image }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill matrix-jitsi-prosody 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm matrix-jitsi-prosody 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier=matrix-jitsi-prosody

[Install]
WantedBy=multi-user.target
