[Unit]
Description=Reloads matrix-coturn periodically so that new SSL certificates can kick in

[Timer]
Unit=matrix-coturn-reload.service
OnCalendar=*-*-* 06:30:00
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
