{#
SPDX-FileCopyrightText: 2024 MDAD Team and contributors

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{
  "defaultHomeserver": 0,
  "homeserverList": [
    {{ matrix_client_cinny_default_hs_url | string|to_json }}
  ]
}
