{
  "defaultHomeserver": {{ cinny_config_defaultHomeserver | to_json }},
  "homeserverList": {{ cinny_config_homeserverList | to_json }},
  "allowCustomHomeservers": {{ cinny_config_allowCustomHomeservers | to_json }},
  "featuredCommunities": {
    "spaces": {{ cinny_config_featuredCommunities_spaces | to_json }},
    "rooms": {{ cinny_config_featuredCommunities_rooms | to_json }},
    "servers": {{ cinny_config_featuredCommunities_servers | to_json }},
    "openAsDefault": {{ cinny_config_featuredCommunities_openAsDefault | to_json }}
  }
}
