{
  "defaultHomeserver": {{ matrix_client_cinny_config_defaultHomeserver | to_json }},
  "homeserverList": {{ matrix_client_cinny_config_homeserverList | to_json }},
  "allowCustomHomeservers": {{ matrix_client_cinny_config_allowCustomHomeservers | to_json }},
  "featuredCommunities": {
    "spaces": {{ matrix_client_cinny_config_featuredCommunities_spaces | to_json }},
    "rooms": {{ matrix_client_cinny_config_featuredCommunities_rooms | to_json }},
    "servers": {{ matrix_client_cinny_config_featuredCommunities_servers | to_json }},
    "openAsDefault": {{ matrix_client_cinny_config_featuredCommunities_openAsDefault | to_json }}
  }
}
