{#
SPDX-FileCopyrightText: 2023 - 2024 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if cinny_container_labels_traefik_enabled %}
traefik.enable=true

{% if cinny_container_labels_traefik_docker_network %}
traefik.docker.network={{ cinny_container_labels_traefik_docker_network }}
{% endif %}

traefik.http.services.cinny.loadbalancer.server.port=8080

{% set middlewares = [] %}

{% if cinny_container_labels_traefik_compression_middleware_enabled %}
{% set middlewares = middlewares + [cinny_container_labels_traefik_compression_middleware_name] %}
{% endif %}

{% if cinny_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.cinny-slashless-redirect.redirectregex.regex=({{ cinny_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.cinny-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + ['cinny-slashless-redirect'] %}
{% endif %}

{% if cinny_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.cinny-strip-prefix.stripprefix.prefixes={{ cinny_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + ['cinny-strip-prefix'] %}
{% endif %}

{% if cinny_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in cinny_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.cinny-add-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + ['cinny-add-headers'] %}
{% endif %}

traefik.http.routers.cinny.rule={{ cinny_container_labels_traefik_rule }}
{% if cinny_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.cinny.priority={{ cinny_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.cinny.service=cinny
{% if middlewares | length > 0 %}
traefik.http.routers.cinny.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.cinny.entrypoints={{ cinny_container_labels_traefik_entrypoints }}
traefik.http.routers.cinny.tls={{ cinny_container_labels_traefik_tls | to_json }}
{% if cinny_container_labels_traefik_tls %}
traefik.http.routers.cinny.tls.certResolver={{ cinny_container_labels_traefik_tls_certResolver }}
{% endif %}

{% endif %}

{{ cinny_container_labels_additional_labels }}
