{#
SPDX-FileCopyrightText: 2021 Toni Spets
SPDX-FileCopyrightText: 2022 - 2025 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=a puppeting appservice bridge for Zulip
{% for service in matrix_matrixzulipbridge_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_matrixzulipbridge_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ matrix_matrixzulipbridge_container_stop_grace_time_seconds }} matrix-matrixzulipbridge
ExecStartPre=-{{ devture_systemd_docker_base_host_command_docker }} rm matrix-matrixzulipbridge

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name=matrix-matrixzulipbridge \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_matrixzulipbridge_container_network }} \
			--mount type=bind,src={{ matrix_matrixzulipbridge_base_path }},dst=/config \
			--label-file={{ matrix_matrixzulipbridge_base_path }}/labels \
			{% for arg in matrix_matrixzulipbridge_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_matrixzulipbridge_docker_image }} \
			{% if matrix_matrixzulipbridge_owner %}
			-o {{ matrix_matrixzulipbridge_owner }} \
			{% endif %}
			--config /config/registration.yaml \
			--listen-address 0.0.0.0 \
			--listen-port 9898 \
			{{ matrix_matrixzulipbridge_homeserver_url }}

{% for network in matrix_matrixzulipbridge_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} matrix-matrixzulipbridge
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach matrix-matrixzulipbridge

ExecStop=-{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ matrix_matrixzulipbridge_container_stop_grace_time_seconds }} matrix-matrixzulipbridge
ExecStop=-{{ devture_systemd_docker_base_host_command_docker }} rm matrix-matrixzulipbridge
Restart=always
RestartSec=30
SyslogIdentifier=matrix-matrixzulipbridge

[Install]
WantedBy=multi-user.target
