[Unit]
Description=Matrix Mautrix Whatsapp server
After=docker.service
Requires=docker.service
Requires=matrix-synapse.service
After=matrix-synapse.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-mautrix-whatsapp
ExecStartPre=-/usr/bin/docker rm matrix-mautrix-whatsapp
ExecStart=/usr/bin/docker run --rm --name matrix-mautrix-whatsapp \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			-v {{ matrix_mautrix_whatsapp_base_path }}:/data:z \
			--workdir=/data \
			{{ matrix_mautrix_whatsapp_docker_image }} \
			/usr/bin/mautrix-whatsapp
ExecStop=-/usr/bin/docker kill matrix-mautrix-whatsapp
ExecStop=-/usr/bin/docker rm matrix-mautrix-whatsapp
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
