[Unit]
Description=Matrix Mautrix Telegram server
After=docker.service
Requires=docker.service
Requires=matrix-synapse.service
After=matrix-synapse.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-mautrix-telegram
ExecStartPre=-/usr/bin/docker rm matrix-mautrix-telegram
ExecStartPre=/usr/bin/docker run --rm --name matrix-mautrix-telegram-db \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			-v {{ matrix_mautrix_telegram_base_path }}:/data:z \
			{{ matrix_mautrix_telegram_docker_image }} \
			alembic -x config=/data/config.yaml upgrade head
ExecStart=/usr/bin/docker run --rm --name matrix-mautrix-telegram \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			{% if matrix_mautrix_telegram_container_exposed_port_number is not none %}
			-p 127.0.0.1:{{ matrix_mautrix_telegram_container_exposed_port_number }}:8080 \
			{% endif %}
			-v {{ matrix_mautrix_telegram_base_path }}:/data:z \
			{{ matrix_mautrix_telegram_docker_image }} \
			python3 -m mautrix_telegram -c /data/config.yaml
ExecStop=-/usr/bin/docker kill matrix-mautrix-telegram
ExecStop=-/usr/bin/docker rm matrix-mautrix-telegram
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
