#jinja2: lstrip_blocks: True
[Unit]
Description=matrix-synapse-admin
{% for service in matrix_synapse_admin_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_synapse_admin_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} matrix-synapse-admin 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm matrix-synapse-admin 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name=matrix-synapse-admin \
			--log-driver=none \
			--cap-drop=ALL \
			--cap-add=CHOWN \
			--cap-add=NET_BIND_SERVICE \
			--cap-add=SETUID \
			--cap-add=SETGID \
			--network={{ matrix_synapse_admin_container_network }} \
			{% if matrix_synapse_admin_container_http_host_bind_port %}
			-p {{ matrix_synapse_admin_container_http_host_bind_port }}:80 \
			{% endif %}
			--label-file={{ matrix_synapse_admin_base_path }}/labels \
			--mount type=bind,src={{ matrix_synapse_admin_config_path }}/config.json,dst=/app/config.json,ro \
			{% for arg in matrix_synapse_admin_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_synapse_admin_docker_image }}

{% for network in matrix_synapse_admin_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} matrix-synapse-admin
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach matrix-synapse-admin

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} matrix-synapse-admin 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm matrix-synapse-admin 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier=matrix-synapse-admin

[Install]
WantedBy=multi-user.target
