#jinja2: lstrip_blocks: True
[Unit]
Description=synapse-admin
{% for service in synapse_admin_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in synapse_admin_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} synapse-admin 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm synapse-admin 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name=synapse-admin \
			--log-driver=none \
			--cap-drop=ALL \
			--read-only \
			--user={{ synapse_admin_container_uid }}:{{ synapse_admin_container_gid }} \
			--network={{ synapse_admin_container_network }} \
			{% if synapse_admin_container_http_host_bind_port %}
			-p {{ synapse_admin_container_http_host_bind_port }}:8080 \
			{% endif %}
			--label-file={{ synapse_admin_base_path }}/labels \
			--mount type=bind,src={{ synapse_admin_config_path }}/config.json,dst=/var/public/config.json,ro \
			{% for arg in synapse_admin_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ synapse_admin_docker_image }}

{% for network in synapse_admin_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} synapse-admin
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach synapse-admin

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} synapse-admin 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm synapse-admin 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier=synapse-admin

[Install]
WantedBy=multi-user.target
