# A unique, user-defined ID of the application service which will never change.
id: "Cactus Comments"

# Where the cactus-appservice is hosted:
url: "http://matrix-cactus-comments:{{ matrix_cactus_comments_container_port }}"

# Unique tokens used to authenticate requests between our service and the
# homeserver (and the other way). Use the sha256 hashes of something random.
# CHANGE THESE VALUES.
as_token: {{ matrix_cactus_comments_as_token | to_json }}
hs_token: {{ matrix_cactus_comments_hs_token | to_json }}

# The user id of the cactusbot which can be used to register and moderate sites
sender_localpart: "{{ matrix_cactus_comments_user_id }}"

namespaces:
  aliases:
    - exclusive: true
      regex: "#comments_.*"
