{#
SPDX-FileCopyrightText: 2024 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

wechat:
  version: 3.8.1.26
  listen_port: 22222
  init_timeout: 10s
  request_timeout: 30s

service:
  addr: ws://matrix-wechat:20002
  secret: {{ matrix_wechat_bridge_listen_secret | to_json }}
  ping_interval: 30s

log:
  level: info
