{
    "default_hs_url": "{{ matrix_homeserver_url }}",
    "default_is_url": "{{ matrix_identity_server_url }}",
    "disable_custom_urls": true,
    "disable_guests": true,
    "brand": "Riot",
    "integrations_ui_url": "https://scalar.vector.im/",
    "integrations_rest_url": "https://scalar.vector.im/api",
    "bug_report_endpoint_url": "https://riot.im/bugreports/submit",
    "enableLabs": true,
    "roomDirectory": {
        "servers": [
            "matrix.org"
        ]
    },
    "welcomeUserId": "@riot-bot:matrix.org"
}