{
    "default_hs_url": "{{ matrix_homeserver_url }}",
    "default_is_url": "{{ matrix_identity_server_url }}",
    "disable_custom_urls": {{ matrix_riot_web_disable_custom_urls|lower }},
    "disable_guests": {{ matrix_riot_web_disable_guests|lower }},
    "brand": "Riot",
    "integrations_ui_url": "{{ matrix_riot_web_integrations_ui_url }}",
    "integrations_rest_url": "{{ matrix_riot_web_integrations_rest_url }}",
    "integrations_widgets_urls": "{{ matrix_riot_web_integrations_widgets_urls }}",
    "integrations_jitsi_widget_url": "{{ matrix_riot_web_integrations_jitsi_widget_url }}",
    "bug_report_endpoint_url": "https://riot.im/bugreports/submit",
    "enableLabs": true,
{% if riot_roomdir_servers is defined %}
{% for server in riot_roomdir_servers %}
    "roomDirectory": {
        "servers": [
            "{{ server }}"
        ]
    },
{% endfor %}
{% else %}
    "roomDirectory": {
        "servers": [
            "matrix.org"
        ]
{% endif %}
{% if riot_welcome_bot|default(true)|bool %}
    },
    "welcomeUserId": "@riot-bot:matrix.org"
{% else %}
    }
{% endif %}
}
